[2014-01-06 00:03] lilliealbert opened #1 "SF Jan 24 & 25 Rails Workshop at Pivotal Labs (@lilliealbert)"
Organizer: @lilliealbert
Venue: Pivotal Labs
Date: Jan 24/25
Curriculum: Rails

**TODOS**
- [x] Set Venue
- [x] Create Event on Bridge Troll
- [x] Order Installfest Pizza
- [x] Order Saturday breakfast
- [x] Order Lunch Catering
- [ ] Find place for afterparty

[2014-01-06 05:04] zspencer opened #2 "March 1 JavaScript Pilot @ Galvanize"
- [x] Finish draft of the curriculum (@zspencer/@zassmin)
- [x] Set a location: Galvanize
- [x] Set a date: March 1
- [x] Post it on BridgeTroll: http://www.bridgetroll.org/events/79
- [x] Who will organize?
- [x] Who can sponsor?

[2014-01-06 05:11] zspencer opened #3 "SF Railsbridge Study Group - IndieGoGo 2-6 to 2-27"
Study group around Rails/Ruby for attendees who were super stoked from Rails Bridge.
- [x] Finish Assessing [Learn Rails](http://learn-rails.com/learn-ruby-on-rails.html) as a reasonable study guide (consider writing a blog post about it if we like it -- Sarah Allen happy to help (or recruit someone else to help) with the writing if someone wants to give me the scoop)
- [x] Finalize hours that wor

[2014-01-27 02:29] #1 closed, assigned to nobody

[2014-01-29 19:53] lilliealbert opened #4 "SF February Rails / Ruby / Front End worskhop"
- [ ] Find a venue and sponsor
- [ ] Find Organizers
- [ ] Organizer kickoff meeting
- [ ] Pick a curriculum
- [ ] Party

[2014-01-29 21:04] rachelmyers opened #5 "SF Ops School workshop - Date TBD"
This will be the first RailsBridge workshop that teaches operations engineering using the [Ops School](http://www.opsschool.org/en/latest/) curriculum! To start, we need
- [ ] A venue / sponsor. Since this is an Operations workshop, it's a great opportunity for companies with a strong Operations team to share their knowledge. Sponsoring costs between $500 and $1000, depending on the size of the wo

[2014-01-29 21:07] rachelmyers opened #6 "Lightning Talks in SF"
This didn't happen in March because people got busy. Let's make sure it still happens, if people are interested in reprising the night of Lightning Talks! **Comment below with your topic if you're interested in speaking.**
#### TODO:
- [ ] Pick date / time / place
- [ ] Find speakers
- [ ] Post to Meetup

[2014-01-30 02:31] lilliealbert opened #7 "Teacher Training & Curriculum Work Day"
Organized by someone
- [ ] Set date & time
- [ ] Find location (maybe GitHub or Fastly?)
- [ ] Food and stuff

Schedule: teacher training in the morning, followed by lunch, then work on RailsBridge curricula, including:
- Getting Alex's Ruby curriculum into the docs format
- Making the Front End curriculum multi-page
- ???

[2014-02-09 19:16] rachelmyers opened #8 "February 21-22 Rails Workshop"
Feel free to comment below if you can help out with this workshop! We need:
- [ ] A venue and sponsor. For the venue, we need space for Friday evening (for the installfest) and all day Saturday (9am - 5pm) for the workshop. This is a Rails workshop, so it's a great opportunity for companies to raise their profile among community-minded Ruby developers. Sponsoring a workshop costs between $500 and

[2014-02-09 19:29] rachelmyers opened #9 "March 15 Rails Workshop"
Feel free to comment below if you can help out with this workshop! We need:
- [x] A venue and sponsor for Saturday, March 15. This workshop is an intro to Rails. Sponsoring the workshop costs between $400 and $900, depending on the size of the workshop.
- [x] Two co-organizers. No experience necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new

[2014-02-09 19:57] rachelmyers opened #10 "April 11, 12 Rails Workshop"
### Questions for @rachelmyers  and @lilliealbert
- [x] ~~What happens when people send emails asking questions? Do those go through bridge troll or?~~
  The organizer's email is visible through Bridge Troll and people will email you directly.
- [x] ~~Can we get the orgs who have hosted in the past and may be open to hosting?~~
    Yes. We may have a venue lined up soon. I'll post it here when it'

[2014-02-09 20:00] rachelmyers opened #11 "May 3 Front End Workshop"
Please comment below if you can help out with this workshop! We need:
- [x] A venue and sponsor for Saturday, May 3. This workshop covers HTML, CSS, and an intro to JavaScript. Sponsoring the workshop costs between $400 and $900, depending on the size of the workshop.
- [ ] Two co-organizers. No experience necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookboo

[2014-02-09 20:06] rachelmyers opened #12 "June 13-14 LGBTQA Rails Workshop (in SF)"
This workshop will focus on outreach to the LGBTQA community! :zap:

From the RailsBridge side, it's being spearheaded by @zspencer and @josephclaymiller. (Let me know if another organizer or mentor would be helpful, or if you have it on :lock:.)

More details will be forthcoming. For now, the simple checklist is:
- [x] Find a venue - Blurb is hosting
- [x] Set an RSVP limit (50)
- [x ] Find spons

[2014-02-11 04:19] #4 closed, assigned to nobody

[2014-02-22 20:09] #8 closed, assigned to nobody

[2014-03-01 19:35] #2 closed, assigned to nobody

[2014-03-04 19:05] annaswims opened #13 "May 2, 3 Rails Workshop - Indianapolis"
I'll be organizing a workshop at The Speakeasy in Indianapolis

The Speak Easy
5255 North Winthrop Avenue
Indianapolis, IN 46220
- [x] A co-organizer.  If you've loved attending a workshop, jump into organizing! You don't have to be a Rails developer to organize, and you don't need organizing experience, either. Checkout [the workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if

[2014-03-10 19:10] sidhene opened #14 "Workparty March 16 2014 at Indiegogo"
Hi Everyone!

It's been an exciting year for Railsbridge - we are growing by leaps and bounds!
Let's have a workparty to make 2014 our best year ever!

Here's a partial list of what we might do at the workparty:
- Schedule a bunch of workshops (organizers, locations, sponsor) for 2014
- Brief newbies on how to contribute to Railsbridge and Bridgetroll
- Work on process/organizer stuff
- Things tha

[2014-03-16 20:20] #9 closed, assigned to nobody

[2014-03-18 16:11] rachelmyers opened #15 "July 12 SF Front End Workshop"
A few months out:
- [x] Find a venue and sponsor for the workshop. This workshop covers HTML, CSS, and an intro to JavaScript. Sponsoring the workshop costs between $400 and $900, depending on the size of the workshop.
- [x] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookboo

[2014-03-18 16:21] rachelmyers opened #16 "South Bay Front End Workshop - Date TBD"
Hi guys! We haven't had a workshop in the south bay in a while. Should we do this thing!? I don't know who's available to do this, so I'll just start cc-ing people. :smile_cat:

[2014-03-23 01:11] #14 closed, assigned to nobody

[2014-03-23 01:12] zspencer opened #18 "April Volunteer Training"
@mfjenn and I are planning to do an evening workshop in early April for people who have not had volunteer training before.
- [ ] Review and possibly edit the existing training http://docs.railsbridge.org/workshop/more_teacher_training#what_is_this
- [x] Find Venue General Assemblu
- [x] Publish on [BridgeTroll](http://www.bridgetroll.org/events/85)

[2014-03-23 20:04] ultrasaurus opened #19 "SF RailsBridge Inspirational Fundraising event: April 7th"
This is SF focused, but we'll raise funds for RailsBridge in general
### Stuff to do
- [x] Event description: [post on eventbrite](http://www.eventbrite.com/e/judy-estrin-on-serial-success-the-future-of-innovation-tickets-1230591733)
- [ ] VIP dinner speakers: leaders from SF RailsBridge talk about what we do?
- [ ] Get the word out: maybe a press release, post on all the event happenings announce

[2014-04-14 21:31] rachelmyers opened #20 "August 5th Anniversary Workshop in SF"
The plan is for this to be a celebration of 5 years of workshops, and the best way to celebrate is by bringing more people to programming!

@ultrasaurus and @ohminimarie are organizing from the RailsBridge side. More details to come.

gratuitous emoji:
:cherry_blossom: :dolphin: :cherry_blossom: :dolphin: :cherry_blossom:

[2014-04-15 02:29] #18 closed, assigned to nobody

[2014-04-16 16:41] rachelmyers opened #21 "September 6 Front End + Javascript Workshop"
A few months out:
- [ ] Find a venue and sponsor for the workshop. This workshop covers HTML, CSS, and an intro to JavaScript. Sponsoring the workshop costs between $400 and $900, depending on the size of the workshop.
- [ ] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookboo

[2014-04-17 18:27] sidhene opened #22 "June 13/14 SF workshop?"
It looks as though we don't have a planning thread for the June workshop in San Francisco, so I am making one.

[2014-04-17 18:33] sidhene opened #23 "June 13/14 SF workshop?"
It appears we don't have an issue for the June workshop so I am making one. Causes.com is interested in hosting.

Please add tags: "San Francisco", "Needs Organizer", "Needs venue" (since it's not confirmed yet).

[2014-04-17 20:47] #22 closed, assigned to nobody

[2014-04-29 01:29] sidhene opened #24 "July 25-26 SF Rails Workshop"
Feel free to comment below if you can help out with this workshop! We need:
- [ ] **A venue and sponsor.** For the venue, we need space for Friday evening (for the installfest) and all day Saturday (9am - 5pm) for the workshop. This is a Rails workshop, so it's a great opportunity for companies to raise their profile among community-minded Ruby developers. Sponsoring a workshop costs between $700

[2014-04-29 01:36] sidhene opened #25 "SF May 18 Workparty at Indigogo"
This is the discussion thread for the May workparty.
And this is the to-do list: https://docs.google.com/document/d/1EmsQ-_7dov8tjcNjEOyX-hD8qpLHkKuyssLjM5n3kx8/edit

[2014-04-29 21:55] sidhene opened #26 "July SF Workshop"
Discussion thread for July workshop. This is possibly a dupe, but I can't find the original issue.

[2014-04-29 21:57] #26 closed, assigned to nobody

[2014-05-01 14:29] wildjcrt opened #27 "May 16, 17 RailsBridge Taipei Workshop in Taiwan"
Hi! I am co-founder of [Taipei Rails Meetup](http://www.meetup.com/taipei-rails-meetup/) and we plan to hold RailsBridge Taipei Workshop at May 16, 17.

We already found a [space](http://www.bridgetroll.org/locations/73). In Taiwan there are many ppl want to learn Rails. This time we will use [RailsBridge - Intro-to-rails](http://docs.railsbridge.org/intro-to-rails/intro-to-rails) to let them reco

[2014-05-01 17:24] #23 closed, assigned to nobody

[2014-05-01 17:29] #19 closed, assigned to nobody

[2014-05-01 17:31] #10 closed, assigned to nobody

[2014-05-16 18:33] #11 closed, assigned to nobody

[2014-05-16 18:33] #20 closed, assigned to nobody

[2014-05-18 20:36] sidhene opened #28 "SF September Frontend Workshop"
A few months out:
- [x] Find a venue and sponsor for the workshop. This workshop covers HTML, CSS, and an intro to JavaScript. Sponsoring the workshop costs between $400 and $900, depending on the size of the workshop. - MakerSpace with @shahshaan is our venue.
- [x] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience necessary; checkout the [workshop cookbook](https

[2014-05-22 01:02] aneyzberg opened #29 "SF August Front End Workshop"
A few months out:
- [x] Find a venue and sponsor for the workshop. This workshop covers HTML, CSS, and an intro to JavaScript. Sponsoring the workshop costs between $400 and $900, depending on the size of the workshop.
- [x] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookboo

[2014-05-22 17:55] #25 closed, assigned to nobody

[2014-05-28 19:14] nuclearsandwich opened #31 "Bring the docs wiki into this repository."
Now that we have this delightful repository does it make sense to audit and move the organization related wiki content from https://github.com/railsbridge/docs/wiki into this repository?

/cc @rachelmyers and @railsbridge/owners

[2014-06-03 20:44] rachelmyers opened #32 "Oakland Rails Workshop - 11/21 & 11/22"
This workshop is being organized by Sameer Siruguri, Sunny Juneja (@whatasunnyday), and potentially also An Bui (unless we break her's up into a separate workshop).
## Giant List of TODOs:
### A few months out:
- [ ] Pick a curriculum: [Rails](http://curriculum.railsbridge.org/intro-to-rails/), [Front End](http://curriculum.railsbridge.org/frontend/), or [Javascript](http://curriculum.railsbridge.

[2014-06-03 21:12] rachelmyers opened #33 "SF Mobile Bridge Pilot Workshop"
@nesquena and @timothy1ee have volunteered their Code Path curricula to kick off what we're calling MobileBridge workshops.

The hope is that this workshop will be organized by people familiar with RailsBridge, and taught by veterans of the [meetup](http://www.meetup.com/Learning-iOS-Development-SF/) where they teach the curriculum.

**9/2 Update:** Tentatively scheduled for October 18th with teac

[2014-06-04 00:13] #31 closed, assigned to nobody

[2014-06-07 16:30] #27 closed, assigned to nobody

[2014-06-12 00:37] shahshaan opened #34 "August TBD San Francisco Rails Workshop at MakerSquare"
I hosted a Railsbridge event back in March and now that we have a big space to accommodate a workshop and students/instructors interested in volunteering, I thought we could host a Railsbridge workshop.

Organizer: Shaan Shah, shaan@makersquare.com, @shahshaan
Venue: MakerSquare (2nd and Mission, 611 Mission St. #1)
Date: July 11th/12th, 2014
Curriculum: Rails

Initial To Dos:
x Set Venue - We/Mak

[2014-06-15 00:29] pzula opened #35 "Cleveland, OH Workshop September 5-6, 2014 (@pzula)"
This workshop's going to be amazing!! Here's what we need to do!

A few months out:
- [x] Find a venue (see http://railsbridge.org/help/host)
- [x] Find sponsors for the workshop. This workshop covers Rails. Sponsoring the workshop costs between $900 - $1,500, depending on the size of the workshop.
- [ ] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessar

[2014-06-16 20:13] sidhene opened #36 "SF 10/3-10/4 Ruby on Rails Workshop"
More details will be forthcoming. For now, the simple checklist is:
- [ ] Find an organizer -
- [x] Find a venue -
- [x] Find a date (probably whenever both the organizer and the venue are available at the same time)
- [x] Set an RSVP limit (50)
- [x] Find sponsors -
- [x] Post the workshop to [Bridge Troll](http://www.bridgetroll.org/)
- [ ] Post the workshop to [Meetup](http://www.meetup.com/sfr

[2014-06-16 20:20] sidhene opened #37 "SF December Front End Workshop"
More details will be forthcoming. For now, the simple checklist is:
- [x] Find an organizer - @learnemy & @mariohsieh
- [ ] Find a venue -
- [ ] Find a date (probably whenever both the organizer and the venue are available at the same time)
- [ ] Set an RSVP limit (50)
- [ ] Find sponsors -
- [ ] Post the workshop to [Bridge Troll](http://www.bridgetroll.org/)
- [ ] Post the workshop to [Meetup](h

[2014-06-18 23:46] #12 closed, assigned to nobody

[2014-08-13 01:26] rachelmyers opened #38 "Phoenix, AZ Rails workshop"
A few months out:
- [x] Find a venue and sponsor for the workshop. (The costs of sponsoring the workshop depend on the RSVP limit; it's mostly food; it's usually between $600 and $1000.)
- [x] Find two to four co-organizers. It's a lot of work, but always a lot of fun. No experience necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new to you. (

[2014-09-10 06:34] #28 closed, assigned to nobody

[2014-09-10 06:35] #29 closed, assigned to nobody

[2014-09-10 06:36] #34 closed, assigned to nobody

[2014-09-10 06:38] #24 closed, assigned to nobody

[2014-09-10 06:39] #15 closed, assigned to nobody

[2014-09-10 06:39] #13 closed, assigned to nobody

[2014-09-10 06:40] #7 closed, assigned to nobody

[2014-09-10 06:40] #3 closed, assigned to nobody

[2014-09-10 06:42] #6 closed, assigned to nobody

[2014-09-10 06:43] #21 closed, assigned to nobody

[2014-09-10 06:47] #35 closed, assigned to nobody

[2014-09-10 15:42] #5 closed, assigned to nobody

[2014-09-10 21:37] GeekOnCoffee opened #39 "Green Bay Frontend Workshop - Need Date/Location"
In the early stages of planning, but interest is high from the community, have a couple of potential venues in mind, just need to make contact and come up with a date.

[2014-09-17 12:31] alexch opened #40 "Burlington, Vermont Workshop (date TBD)"
@alexch @dangeranger @ktoksu are planning on planning a Vermont workshop this fall (or maybe winter)

Here's what we need to do!

A few months out:
- [ ] Decide on topics: Frontend or Ruby on Rails ?
- [ ] Find a venue and sponsor for the workshop. Sponsoring the workshop costs between $400 and $900, depending on the size of the workshop.
- [ ] Sign up on the [organizers email list](https://github

[2014-09-26 22:25] rachelmyers opened #41 "2015 SF Rails Workshop for Women at Engine Yard"
#### The good folks at Engine Yard :steam_locomotive:, especially @alenia, :ok_woman:  got in touch and are making this happen!

Here's a giant list of TODOs, this time with extra emoji! :tulip:

A few months out:
- [x] Find a venue and sponsor for the workshop: I think EngineYard's :steam_locomotive: interested in hosting this; we can confirm
- [x] Find co-organizers and start going through the [

[2014-10-02 22:01] amypivo opened #42 "PDX Workshop"
I'm moving from SF to Portland and bringing railsbridge with me! I'm uncertain if we should attempt hosting a workshop this close to the holiday season or start fresh in January.

A few months out:

- [x] Find a venue and sponsor for the workshop: ThoughtWorks can help sponsor.
- [x] Find co-organizers and start going through the workshop cookbook.
- [ ] Start creating a list of contacts in Portla

[2014-10-09 21:10] danigro77 opened #43 "SF January 30 & 31 Rails Workshop for Women at Blurb"
#### The good folks at Blurb and Balto are making this happen!

Here's a giant list of TODOs, this time with extra emoji! :tulip:

A few months out:
- [x] Find a venue and sponsor for the workshop: I think Blurb is interested in hosting this; we can confirm
- [x] Find co-organizers and start going through the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook):
Once we have a ve

[2014-10-17 18:55] rothsa opened #44 "November 21-22 Nashville RailsBridge"
I am visiting the good folks at GitHub office in Tennessee :octocat: and would like to host a Railsbridge there if you would allow it. @rachelmyers is my co-organizer. :dancers:

@jfryman @azizshamim @jameswhite @rick all work there, I'm cc'ing you if you know people in the community who we should reach out to or you would like to come hang out and help. In any case, is it alright if I have the ke

[2014-10-19 21:04] #36 closed, assigned to nobody

[2014-10-24 16:07] joker2600 opened #45 "RailsBridge Hawaii: Nanakuli Intro to Ruby on Rails Date TBD"
This workshop's going to be amazing!! Here's what we need to do!

A few months out:
- [ ] Find a venue and sponsor for the workshop. This workshop covers Introduction to Rails.
- [x] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new to you. (Joseph Heaukula

[2014-10-24 16:15] joker2600 opened #46 "RailsBridge Hawaii: Web Dev Workshops for the Micronesian Community Date TBD"
This workshop's going to be amazing!! Here's what we need to do!

A few months out:
- [ ] Find a venue and sponsor for the workshops. These workshops will most likely be consecutive Saturdays. First workshop covers HTML, CSS, and an intro to JavaScript. Second covers Intro to Rails.
- [x] Find two co-organizers. (Joseph Heaukulani, Lino Talley)

Leave a comment below if you're able to host, sponso

[2014-10-28 23:45] #44 closed, assigned to nobody

[2014-11-08 00:39] sidhene opened #47 "April 2015 Oakland Workshop at Pandora"
Pandora is interested in hosting a workshop and their calendar is pretty open. Starting a thread to get the process rolling.

## Giant List of TODOs:
### A few months out:
- [ ] Pick a curriculum: [Rails](http://curriculum.railsbridge.org/intro-to-rails/), [Front End](http://curriculum.railsbridge.org/frontend/), or [Javascript](http://curriculum.railsbridge.org/javascript/).
- [ ] Find a venue an

[2014-11-11 21:52] vpivo opened #48 "How I add people to my card?"
I'm sorry if this is a silly question, how can I add people to my card (42) so that they can also edit it? And where should I put questions like this?

Thanks!

[2014-11-16 00:02] #48 closed, assigned to nobody

[2014-11-27 07:11] careful-with-that-axe opened #49 "SF February Ruby on Rails Workshop"
I have very strong interest from an awesome company to host a workshop in February, will fill in the details after the long weekend but wanted to reserve the spot as soon as possible.

They also want to do a round of lightningish talks either during the installfest or at the workshop where developers at the company talk about how they got their start in web development, career path, challenges, ad

[2014-12-05 21:43] raorao opened #50 "Early February SF Javascript RailsBridge Workshop for Women at Dev Bootcamp"
Hey everyone! So @EmFoley and I are interested in hosting a railsbridge early next year. We're still getting the details together, but we're hoping for one of the first weekends in february. And we also want to write some new JS Curriculum!

Any help / advice / suggestions would be appreciated!

[2014-12-11 06:52] aneyzberg opened #51 "SF Ruby on Rails workshop at Blurb - 1/30 & 1/31"
Is anyone interested in Organizing for this one? Or have anyone in mind? I have a couple people I will reach out to on my end, but looking for organizer. I will be happy to help/co-organize on this one if needed :)
## Giant List of TODOs:
### A few months out:
- [ ] Pick a curriculum: [Rails](http://curriculum.railsbridge.org/intro-to-rails/), [Front End](http://curriculum.railsbridge.org/frontend

[2014-12-15 05:49] #33 closed, assigned to nesquena

[2014-12-15 05:49] #32 closed, assigned to nobody

[2014-12-15 05:50] #37 closed, assigned to nobody

[2014-12-15 14:19] KyFaSt opened #52 "Atlanta RailsBridge April 2015"
This workshop's going to be amazing!! Here's what we need to do! We'd like to schedule this event in conjunction with RailsConf coming to Atlanta April 21st-23rd

General:
- [x] make a [sweet wrap up flyer](https://dl.dropboxusercontent.com/u/55826860/RailsBridge/more-resources-flyer.pdf) so atteendees will have resources to keep learning after the workshop

A few months out:
- [x] Find a venue-th

[2014-12-18 08:03] #51 closed, assigned to nobody

[2014-12-22 06:00] aneyzberg opened #53 "SF January 16 & 17 Rails Workshop for Women at Thoughtworks"
Here's a giant list of TODOs,
A few months out:
- [x] Find a venue and sponsor for the workshop: I think Blurb is interested in hosting this; we can confirm
- [x] Find co-organizers and start going through the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook):
Once we have a venue/sponsor and organizers, we can:
- [x] Set a date :calendar:  that works for everyone.
- [x] Set a

[2015-01-02 21:55] EmFoley commented on #50
Hi all,

Just fyi, here is the Meetup.com page for this event:
http://www.meetup.com/SF-JavaScript-All-Level-Meetup/events/219558449/

Happy New Year!

Cheers,

Emily

On Wed, Dec 31, 2014 at 9:37 AM, Emily Foley <foleyemilym@gmail.com> wrote:

[2015-01-03 03:23] lilliealbert commented on #50
Hey @EmFoley & @raorao, have you considered using Bridge Troll for RSVPs? It helps us track student & volunteer attendance workshops and has a lot of tools for communicating / breaking people up into small groups / etc. Here's more about Bridge Troll if you're unfamiliar with it: https://www.bridgetroll.org/about

[2015-01-03 09:27] aneyzberg commented on #50
Hey @EmFoley, yes let me know if you need any help setting up the Bridge Troll Page :)

Also @raorao we have had some interest from people in contributing to the javascript curriculum. Would you be open to that? If so let me know :)

[2015-01-03 09:29] aneyzberg commented on #50
Hey @EmFoley - let me know if you need any help with the Bridge Troll site :)

Also @raorao - we have had some people interested in contributing to the javascript curriculum. Would you be open to that? Let me know :)

[2015-01-05 19:46] EmFoley commented on #50
Hi Anna,

We'd love to use the Bridge Troll site! I'll get working on that right away
and get in touch if I have any questions.

Cheers,

Emily

On Sat, Jan 3, 2015 at 1:29 AM, Anna Neyzberg <notifications@github.com>
wrote:

[2015-01-05 19:47] aneyzberg commented on #50
Hey Emily,

That sounds great!

Thank you!
Anna

On Mon, Jan 5, 2015 at 8:46 PM, Emily Foley <notifications@github.com>
wrote:

[2015-01-05 23:38] shanaclaire commented on #41
Hi @ruchikakumar Let's plan on March 14th. Would this include Friday, March 13th as well?

Thanks!

[2015-01-08 18:49] careful-with-that-axe commented on #49
Closing this issue as this workshop will likely happen in March or April instead of February.

[2015-01-08 18:49] #49 closed

[2015-01-14 18:35] siruguri opened #55 "Oakland Apr 3 & 4 Rails Workshop for Women at Pandora"
Pandora has offered to host and sponsor. More details forthcoming.
@aneyzberg @whatasunnyday.

[2015-01-14 18:39] aneyzberg commented on #55
@siruguri Awesome! so happy to hear that!

[2015-01-16 01:07] nfiniteset opened #56 "Front End workshop at Carbon Five in SF"
Carbon Five in San Francisco would like to offer up our space for a workshop this year. (More than one workshop even, but let's start here!)
We have a large open space for food and intro talk, many small meeting rooms for classes to break out into, and solid Wi-Fi. We've hosted a number of workshops in the past.

A few months out:
- [x] Find a venue and sponsor for the workshop. This workshop cove

[2015-01-16 01:40] sundaykofax commented on #56
:hand: for organizing.

My February is already full, would a date in March be doable? I'm available the 14th, 21, and 28th. (Also preeeetty free in April.)

[2015-01-16 01:44] siruguri commented on #55
Adding @sara-gudeman for notifications.

[2015-01-16 01:51] aneyzberg commented on #56
Awesome! @sundaykofax let me know what help if any you might need on the organizing front.

[2015-01-16 22:19] courtney commented on #56
I could do the 28th of March but the other weekends I'm out of town.

[2015-01-16 23:56] sundaykofax commented on #56
:+1: 28th

[2015-01-17 23:35] celestelayne commented on #41
@shanaclaire, we actually have space in February (20th/21st) to do an RoR workshop. It does include a Friday evening 2-hour installfest. Would this still work for you?

[2015-01-17 23:38] celestelayne commented on #41
@shanaclaire if February doesn't work, we would love to do March 13th/14th

[2015-01-18 14:02] maebeale opened #57 "Triangle Feb 20&21 Rails Workshop at HQ Raleigh"
Hey there! We're planning a Feb 20&21 Rails Workshop (for underrepresented groups in tech) at HQ Raleigh from our new chapter, RailsBridge Triangle (Raleigh/Durham/Chapel Hill). We've submitted a bridge troll but haven't heard back in a few days. Might anyone be able to contact me about next steps? Many thanks and best from North Carolina!

[2015-01-18 18:24] ruchikakumar commented on #16
Hey guys, I'm going to close this out.  Lets start another issue if someone wants to organize a south bay workshop and had identified a venue.  Thanks!

[2015-01-18 18:24] #16 closed

[2015-01-18 18:25] ruchikakumar commented on #38
Hey guys, closing the issue out.  I hope the event was a success, we love hearing feedback.

[2015-01-18 18:25] #38 closed

[2015-01-18 18:26] ruchikakumar commented on #39
Hi @GeekOnCoffee I'm closing this issue out. Lets reopen a new one if this is sill of interest, thanks!  If you still need a mento cc @aneyzberg .   Thank you.

[2015-01-18 18:26] #39 closed

[2015-01-18 18:28] ruchikakumar commented on #40
HI @Dangeranger I'm closing this issue out.  Please reach out to myself @aneyzberg (SF railsbridge temporary leads) if you have any questions.  Thanks.

[2015-01-18 18:28] #40 closed

[2015-01-18 19:24] rachelmyers commented on #40
@alexch, @mmcelaney, and @Dangeranger: We didn't meant to step on any toes here. @ruchikakumar is closing out old and stale issues, but if you guys are still working on this, please reopen this one! :smile_cat:

[2015-01-18 22:06] ruchikakumar commented on #42
Hey @amypivo just checking that I'm OK to close this issue out? How was the event?

[2015-01-18 22:06] #42 closed

[2015-01-18 22:07] ruchikakumar commented on #45
HI @joker2600 ! Any plans to schedule this? Let us know what we can do to help!

[2015-01-18 22:08] ruchikakumar commented on #46
Same here @joker2600  let me know how we can help/ if this is still happening!

[2015-01-18 22:14] ruchikakumar commented on #57
Hi @maebeale  cc'ing @aneyzberg  and @ celestelayne form SF team.  We can help.

[2015-01-18 22:15] ruchikakumar commented on #57
@celestelayne

[2015-01-18 23:23] ruchikakumar opened #58 "February 20 & 21st Railsbridge workshop Yammer Eng."
We are going to try and aim for a monthly railsbridge workshop in 2015! And try for consistency 3rd weekend of the month. I am currently contacting venues for February.

[2015-01-18 23:27] ruchikakumar opened #59 "RailsBridge write/plan/code night"
We are going to try and aim for a regular RailsBridge write/plan/code night monthly or every other month.  Would ideally like to get one in before Feb end. Lets start sourcing for venues. @aneyzberg @celestelayne would Galvanize or Maker square be a possible fit?

[2015-01-18 23:44] aneyzberg commented on #59
@ruchikakumar Celeste and I were actually just talking about this yesterday. I think one of those venues could work

[2015-01-18 23:45] aneyzberg commented on #58
@ruchikakumar Orginally engine yard had wanted to do February and we had told them march - so we posted on the old Github issue yesterday to see if they still want February

[2015-01-18 23:45] celestelayne commented on #59
@aneyzberg @ruchikakumar MakerSquare is holding the first week in March for us. We just need to give them a day/date.

Celeste

[2015-01-18 23:45] ruchikakumar commented on #59
Same page :-)

[2015-01-18 23:46] ruchikakumar commented on #59
cool, do we need to aim for before that too? Or is that close enough? I think Monday or Tuesday could be a good idea...

[2015-01-18 23:47] aneyzberg commented on #57
I believe @lilliealbert is the one that approves the Bridgetroll posts correct? @lilliealbert can you answer this question?

[2015-01-18 23:57] ruchikakumar commented on #58
@aneyzberg i guess my understanding was that is for a front end workshop, so an add on event, not the monthly standard railsbridge  workshop goal? If it is I can close this one out when they confirm.

[2015-01-18 23:58] aneyzberg commented on #59
Maybe we could do one in Feb at Galvanize? And one at MakerSquare in March?

[2015-01-19 00:01] aneyzberg commented on #58
oh..hmmm..I just read through the old issue - and it looks like its a traditional workshop, unless I am misunderstanding. But yes, let's keep this open until they confirm dates in case they want to do march and not February, so we would still need someone :)

[2015-01-19 00:02] ruchikakumar commented on #58
@aneyzberg got it, i got them confused with carbon 5! Sorry!

[2015-01-19 00:05] celestelayne commented on #59
@aneyzberg @ruchikakumar I'll reach out to Bru at Galvanize and see if I can get a date on their calendar for FebFebruary

[2015-01-19 00:07] celestelayne commented on #59
So, I'll email Rachel at MakerSquare and have her hold the Tuesday date for us. Does that work for yu guys?

[2015-01-19 01:36] lilliealbert commented on #57
Yes, @maebeale, I sent you an email — well, I sent an email to the email address listed on the event, RailsBridgeTriangle@gmail.com —about specifying which underrepresented group the workshop was for, and hadn't heard back yet.

Basically, the RailsBridge Triangle website says that the workshops are for women, and the Bridge Troll posting says "This workshop is intended to reach out to underrepres

[2015-01-19 02:32] aneyzberg commented on #59
works for me :+1:

[2015-01-19 14:39] maebeale commented on #57
hello there! thanks so much, and i apologize to not have responded from the other email (we are a core team of 6, and i'm not maintaining that gmail account). thanks for noticing that! there's a PR that hasn't been published yet  (https://github.com/railsbridgetriangle/railsbridgetriangle.github.io/commit/5edf0d0883ce64fd6a952fb29ccfc1755be0e0d1) on our site's repo to change the text, so that's wh

[2015-01-19 21:32] lilliealbert commented on #50
It looks like @raorao's PR to update the JS curriculum levels are in, so the only thing left to do before we publish on Bridge Troll is for the language about who is invited to be updated.

@EmFoley, can you ping me once that's up to date?

It would probably make sense to give the people who RSVP'd on Meetup a day's headstart on RSVP-ing before announcing it to the whole RailsBridge SF list, since

[2015-01-19 21:33] lilliealbert commented on #50
Language that we've used commonly is:

And it's helpful to include "for Women" in the event title for extra clarity

[2015-01-20 17:25] EmFoley commented on #50
Thanks, Lillie- sorry for the delay! Will have those changes up and messages out to the Meetup folks to switch to Bridge Troll today.

Cheers,

Emily

Sent from my iPhone

[2015-01-20 18:08] #53 closed

[2015-01-20 20:29] maebeale commented on #57
hello there! we're live. http://railsbridgetriangle.com/. i'd figured we could sync amongst ourselves, but great to know you're checking on these details, so tks for being awesome!

[2015-01-20 21:47] elg0nz commented on #58
Hi @ruchikakumar , @aneyzberg  Yammer Engineering was looking to organize one for that week, but since you guys are already have it planned, we would be happy to host it.

[2015-01-20 21:56] missherico commented on #58
^^ gonzalo! =D

On Tue, Jan 20, 2015 at 1:47 PM, Gonzalo Maldonado <notifications@github.com

[2015-01-21 01:12] EmFoley commented on #50
Hey Lillie,

Quick question- I've updated the language on the Bridge Troll page, but
wanted to also remove the InstallFest- Rao and I decided against it, but I
couldn't find a way to remove a session from the event.

Sorry if I'm missing something obvious! If not, can you let me know how to
do that?

As soon as I can remove the Installfest, I'll message the Meetup.com
respondees, since I want to r

[2015-01-21 01:15] ruchikakumar commented on #58
Thanks @elg0nz! We will get back to you shortly if its still open! In the thread above we had a potential sponsor so will verify and get back to you asap! Cheers.

[2015-01-21 01:17] ruchikakumar commented on #41
Hi @shanaclaire , yes typically it includes Friday. Are you set for March?!

[2015-01-21 02:03] lilliealbert commented on #50
That's actually not something that's currently changeable via the site (it
is before you've saved the event the first time, but not after). I'll jump
into a Rails console and remove that for you tonight. (And will follow up
when it's done!)

On Tue, Jan 20, 2015 at 5:12 PM, Emily Foley <notifications@github.com>
wrote:

--
Lillie Chilen
@lilliealbert
('li-lee shuh-'leen)

[2015-01-21 18:25] shanaclaire commented on #41
Hi @celestelayne and @ruchikakumar I'm currently checking on the February date and I'll let you know early next week. It doesn't look like March will work for us though. Thank you!

[2015-01-21 20:18] elg0nz commented on #58
@missherico we just keep running into each other!

[2015-01-21 22:01] siruguri commented on #59
Would love to volunteer and also learn about holding similar events in East Bay... do I understand that the date is still undecided? The last message from @celestelayne suggested a specific Tuesday...

[2015-01-21 23:38] EmFoley commented on #50
Awesome, thanks so much for filling me in and taking care of that :) I'll
be ready to message everyone when I hear from you!

On Tue, Jan 20, 2015 at 6:03 PM, Lillie Chilen <notifications@github.com>
wrote:

[2015-01-22 02:02] lilliealbert commented on #59
hey all, it turns out Omada can host in February, if you haven't already secured a venue!

[2015-01-22 02:04] lilliealbert commented on #50
Okay, cool, updated. So now, you do the Meetup thing, and then in a day we announce it to the rest of the world?

[2015-01-22 02:07] EmFoley commented on #50
Sounds perfect! Will have that done later tonight after work :)

[2015-01-22 02:36] aneyzberg commented on #59
that sounds good to me! @ruchikakumar @celestelayne would that work?

[2015-01-22 03:14] celestelayne commented on #59
@ruchikakumar @aneyzberg that works for me. @lilliealbert what day/date works best for Omada? i think we were pushing for the first week in Feb to offset the third week for RB ... but it's the first one so we can always be flexible

[2015-01-22 08:46] EmFoley commented on #50
All right, email sent to all yes RSVPs on Meetup.com directing them to RSVP
via Bridge Troll!

On Wed, Jan 21, 2015 at 6:06 PM, Emily Foley <foleyemilym@gmail.com> wrote:

[2015-01-22 17:45] aneyzberg commented on #59
I think @lilliealbert mentioned february 10th or 11th? is that right? would that work?

[2015-01-22 18:21] celestelayne commented on #59
Yes, Tuesday 10th is best for me.

[2015-01-22 18:22] celestelayne commented on #41
ok, thanks @shanaclaire looking forward to it.

[2015-01-22 18:27] lilliealbert commented on #59
The Omada operations team got back to me, and Wednesday, Feb 11th would be better for them. I told them we'd plan on starting at 6:30pm and have about 25 people (which I made up!!).

[2015-01-22 18:51] celestelayne commented on #59
ok

[2015-01-22 19:58] aneyzberg commented on #59
That sounds Great! @lilliealbert  - this is something we would be posting on Bridgetroll right?

[2015-01-22 20:19] lilliealbert commented on #59
Yeah, totally. How does this event look? https://www.bridgetroll.org/events/139

[2015-01-22 20:27] celestelayne commented on #59
this looks great.

[2015-01-22 20:29] aneyzberg commented on #59
Looks great to me!

[2015-01-22 21:31] lilliealbert commented on #59
ALSO I added you all as chapter leads, so now you should be able to edit
any SF event, as well as see the private contact info / notes fields for
all the SF locations!

On Thu, Jan 22, 2015 at 12:29 PM, Anna Neyzberg <notifications@github.com>
wrote:

--
Lillie Chilen
@lilliealbert
('li-lee shuh-'leen)

[2015-01-23 01:00] lohsu commented on #56
Awesome!  But the 28th might not work for me because of a wedding I have to attend..

[2015-01-23 01:04] nfiniteset commented on #56
This workshop needs an experienced co-organizer! In anyone with organizing experience willing to help pull this together?

[2015-01-23 01:08] sundaykofax commented on #56
@rachelmyers might you be available to help organize this event? What I really mean is "I'm not confident of my experience level, but I'd be glad to do the work and Rachel advises/mentors".

[2015-01-23 02:05] aneyzberg commented on #56
Hey @sundaykofax  - Just to let you know - If Rachel Meyers can't organize - I am the new organizing lead for RailsBridge sf - so I would be happy to find you guys another co-organizer. I can also pitch in as needed. Just let me know.

[2015-01-23 05:47] sundaykofax commented on #56
@aneyzberg that's awesome! Based on my experience last time, it was day-of (really morning-of) that I had trouble navigating. Is it reasonable to think that with a morning-of boost of help, Courtney and I could do the rest (both planning before, where we'll be able to show work via a checkbox) and after the day gets rolling?

[2015-01-23 15:54] aneyzberg commented on #56
@sundaykofax -  I think that is totally and completely reasonable. I can plan on also being there as a boost of help that morning - And I can answer any questions you might have along the way :)

[2015-01-23 17:18] courtney commented on #56
My biggest concern is how we coordinate the actual teaching. Will people that sign up as volunteers have taught a front end class before?

[2015-01-23 17:32] aneyzberg commented on #56
@courtney Generally speaking yes - the volunteers that sign up to teach have taught before. And while it may have happened under some rare circumstances in the past where someone was teaching for the first time - new people usually serve as TA's. The morning of the workshop - the organizer console in Bridgetroll will allow you to auto-arrange classes and select teachers for the classes. I will pla

[2015-01-23 17:57] courtney commented on #56
heck yeah that helps - consider fears allayed!

[2015-01-23 18:11] aneyzberg commented on #56
:+1:

[2015-01-23 18:12] ruchikakumar commented on #58
Hi @elg0nz  we would love to have Yammer engineering sponsor for that weekend!  Are you familiar with the process?  First things first if we can confirm the date fri eve/sat day and then how many people you can host up to depending on how much of your space is available to us that weekend.

[2015-01-23 18:19] sundaykofax commented on #56
@courtney do you think 60 students/30 teachers (like last time) are the numbers we want to use? For sponsorship purposes, how much do you think it would cost to cover food? It'd be nice to also cover the teacher drink tickets. I'm going to ask GitHub, so I'd like to figure out a ballpark number.

[2015-01-23 18:23] courtney commented on #56
@sundaykofax I think that would be more than enough! that is 2 students per teacher... so I think we could even do 60 students/15 teachers and be totally fine. TAs and myself can help fill in the gaps.

I'll check on ballpark costs for breakfast and lunch. I can also arrange for us to have a dedicated spot at Southside for drinks after... or we can walk down to github to the bar!

[2015-01-23 18:45] aneyzberg commented on #56
So just so you both know, as you are thinking about numbers, when you set a numbers for the workshop on Bridgetroll - you can only set the cap for the number of students. The volunteers usually self regulate based on the number of students signed up - but you cannot as of yet specify on Bridgetroll how many teachers vs. ta's you would like. So you just have a general volunteer sign up. In the orga

[2015-01-23 18:59] sundaykofax commented on #56
Oh gotcha. Well, I can't imagine having too many TAs and teachers is bad (except when it gets warm in a room, I guess). I'm sure we can adjust the actual food order as needed once we know how many teachers are signing up.

[2015-01-23 19:04] aneyzberg commented on #56
Totally, and we can have a general number of people in mind that we want to have total. If needed we can always send volunteers home if there are way too many. We have done this before.

[2015-01-23 19:25] sundaykofax commented on #56
I was fantasizing about going out to buy peanut butter and bread like the old days of Girl Scouts.

[2015-01-23 19:40] aneyzberg commented on #56
Haha...fair enough.

[2015-01-23 19:50] courtney commented on #56
Here are some rough numbers for about 80 folks:
super casual breakfast (bagel/muffins/coffee), that’s about $300 with a casual lunch (salads, lavash rolls) at about $700-800. Total combined would be around $1000-1100.

[2015-01-25 19:28] lilliealbert commented on #50
@EmFoley, should I go ahead and publish the event on Bridge Troll? Three days seems like a decent interval to let people RSVP before announcing.

[2015-01-25 21:57] maebeale commented on #57
hey there! thanks for getting our event posted!!! i'm looking for a way to edit some default text in our BridgeTroll event listing (remove the line w the link to the curriculum). is this something we can request and/or submit a PR for? many thanks! mae

[2015-01-26 00:17] lilliealbert commented on #57
What curriculum are you planning on using? If there was a new curriculum that you were writing that we could add to http://docs.railsbridge.org/, it would be totally awesome to merge it into the rest of the docs rather than have a whole separate curriculum for just your chapter.

Right now, all the RailsBridge curricula types are listed as options, and we don't have a way to list a different curri

[2015-01-26 01:21] maebeale commented on #57
Lillie (and Travis), hello!

Excellent questions -- all of them.

Your site led us to believe it was welcomed to adapt the main curriculum as we saw fit, so we've been working through slight tweaks, and apologize for any confusion on our end. And yes, it'd be awesome if y'all wanted to accept changes from us to the curriculum so our chapter isn't an outlier. And/or to contemplate adding an option

[2015-01-26 04:37] EmFoley commented on #50
Sounds good to me, Lillie! Thanks so much!

[2015-01-26 05:32] lilliealbert commented on #57
@maebeale, yeah, there's definitely been a culture of "do what you want" with RailsBridge historically, so it's not surprising that you got that impression, and since everything is open source, we aren't going to stop anyone from forking and making changes :smiley:

But! RailsBridge leadership is also grappling with how we can keep the curricula as fresh and awesome as possible, and one of the big

[2015-01-26 18:39] sundaykofax commented on #56
:octocat: will sponsor the food! They've donated $1000. I have an email with all the details. @courtney I'll forward it to you.

Next up, setting the RSVP limit and getting this thing onto Bridgetroll and Meetup! @courtney does 60 students sound right, or would you adjust it?

[2015-01-26 18:45] courtney commented on #56
60 sounds great - I'm slammed this week so I might be hit or miss on
helping out :(

c

On Mon, Jan 26, 2015 at 10:39 AM, Sonya Green <notifications@github.com>
wrote:

--
Courtney Hemphill
Carbon Five

415-546-0500 x 20 | http://www.carbonfive.com
<https://twitter.com/chemphill>
<http://www.linkedin.com/in/courtneyhemphill>

[2015-01-26 18:49] sundaykofax commented on #56
@courtney that's OK! This is why having multiple organizers is good. WE'RE LIKE THE CLOUD. Spin up another organizer.

@nfiniteset on the next set of tasks (bridgetroll and meetup), any reason to wait? Mind if I set them up?

[2015-01-26 21:20] nfiniteset commented on #56
I don't see a reason to wait. Make it real!

[2015-01-26 23:14] mxhold commented on #57
Thanks for including me in this @maebeale.

My plan was to fork the curriculum and make pull requests for all my changes so we wouldn't have to use the forked one in the end. I haven't been on top of that lately... my bad. I have a list of some basic changes already and there are some more I'd like to do. I think I'll get around to making those into actually pull requests later this week.

I think

[2015-01-27 00:07] ruchikakumar commented on #58
Hi @elg0nz ! Just checking in if you would still like to host?

[2015-01-27 01:14] elg0nz commented on #58
Hi @ruchikakumar sure! Could you send me a PM so I can give you my work email and follow up in there?

[2015-01-27 01:35] aneyzberg commented on #50
@raorao Hey Rao, The folks at Carbon Five mentioned to me that they want to do a JS curriculum under RailsBridge in Chattanooga. And they were wanting to see the JS curriculum that was developed for the workshop at Dev Bootcamp - but i don't see it up on the RailsBridge site yet. Do you know when we'll get a chance to see the curriculum?

[2015-01-27 02:18] lilliealbert commented on #57
@mxhold Cool, all of that makes sense. I personally like more, smaller pull requests, so that if one part generates a lot of discussion, it doesn't block the acceptance of other bits.

And yeah, I totally feel you on not knowing what kinds of changes are okay, since don't really say anywhere! That could use some explicit stating in the readme. We're generally pretty friendly, so even if you make a

[2015-01-27 18:38] lilliealbert commented on #50
Also, looking at the low number of volunteers so far (6 volunteers for 100 students), I'm worried that we're not going to get enough volunteers if we don't get the curriculum in the public ASAP. @raorao, can you share whatever draft version you have?

(It would probably also be a good idea to schedule an evening of teacher training to review the curriculum before the workshop, but the most importa

[2015-01-28 21:29] raorao commented on #50
totally right. I'll push the current version of the curriculum tonight.

On Tue, Jan 27, 2015 at 10:38 AM, Lillie Chilen <notifications@github.com>
wrote:

[2015-01-31 02:51] ruchikakumar commented on #58
Here's a giant list of TODOs, this time with extra emoji! :tulip:

A few months out:
- [x] Find a venue and sponsor for the workshop: I think EngineYard's :steam_locomotive: interested in hosting this; we can confirm
- [] Find co-organizers and start going through the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook): @shanaclaire, @alenia, and @michelleN from Engine Yard :ste

[2015-02-02 19:47] aneyzberg commented on #59
@lilliealbert is there anything else that I need to help you with for this event, other than possibly setup for day of?

[2015-02-02 19:50] sonyagreen commented on #56
I'm duplicating details from the [last C5 frontend event](https://www.bridgetroll.org/events/102). I'd like to double check that the times (9:30-5) are what we want, if there are any transportation/parking hints, and decide on the afterparty -- @courtney would you see if we can Southside?

[2015-02-04 07:21] courtney commented on #56
I'll check into Southside and there are several parking lots on 2nd street between Howard and Folsom. Street parking is also available and there is usually a lot of it on a Saturday.

[2015-02-04 17:56] sundaykofax commented on #56
Our [BridgeTroll event is submitted and pending approval](https://www.bridgetroll.org/events/144). If someone would give it :eyes: to proof it.

[2015-02-04 19:58] lilliealbert commented on #56
hey @sundaykofax, just took a look at your event on Bridge Troll, and it looks great! I made a tweak to the name to make it be a little more consistent, and noticed this in the description:

"Read the class level descriptions, then day-of you can join the class you think will best suit your needs."

We actually ask people to pick their class level as part of the RSVP process, and I just wanted to

[2015-02-04 20:06] sundaykofax commented on #56
Whoops! My fault. I did not know that (or, more accurately remember it). I've updated the BridgeTroll event. Thanks for the explanation @lilliealbert.

[2015-02-04 20:50] courtney commented on #56
Thanks @sundaykofax!

On Wed, Feb 4, 2015 at 12:06 PM, Sonya Green <notifications@github.com>
wrote:

--
Courtney Hemphill
Carbon Five

415-546-0500 x 20 | http://www.carbonfive.com
<https://twitter.com/chemphill>
<http://www.linkedin.com/in/courtneyhemphill>

[2015-02-05 02:06] lilliealbert commented on #56
@sundaykofax, sure thing!! We have a really great class-division tool that will take the people who have checked in and break them into small groups: https://www.bridgetroll.org/events/144/organize_sections

(You can also run it ahead of time with everybody, but the morning of the workshop, I've found limiting the sorting to people who checked in to be much more helpful.)

If you have any feedback

[2015-02-09 03:27] lilliealbert commented on #43
hey @danigro77, it'd be awesome if you could post a write up about how the workshop went (and the retro notes, if you have them) to the workshop mailing list! Thanks for organizing!!! :tada: :tada: :tada:

[2015-02-09 03:27] #43 closed

[2015-02-09 03:38] lilliealbert commented on #50
Wooooooooo successful workshop!!!

@EmFoley & @raorao, could you share retro notes / any other reflections with the [workshop mailing list](https://groups.google.com/forum/#!forum/railsbridge-workshops) once you've recovered from organizing?

:smile_cat: :tada: :smile_cat:

[2015-02-09 03:38] #50 closed

[2015-02-09 03:49] danigro77 commented on #43
Working on it. A visitor from Europa slowed me down ;)
Daniela

Sent from my iPhone

[2015-02-09 05:30] jane-shih opened #60 "Rails Bridge Yilan, Taiwan on 3/21/2015"
Hi all,
We are hosting Rails Bridge Yilan on 3/21.
There are a few questions I would need help with:
1) Is there a standard process to create a webpage for registration info so we could publish on the homepage of rails bridge? We have a volunteer-ChiunHau to help create the webpage.
2) Is there possibility to get sponsorship from Rails Bridge community in terms of $?
3) We currently have a few spo

[2015-02-09 05:40] lilliealbert commented on #60
1. You can use Bridge Troll to publish your event and manage RSVPs by logging in and clicking the  "Organize Event" button: http://www.bridgetroll.org/. This will create a page on Bridge Troll that will also show up on the RailsBridge.org home page, and this is where students and volunteers will RSVP to the workshop.

2. It is definitely possible to get financial support from RailsBridge for your

[2015-02-09 07:02] jane-shih commented on #60
Appreciate the quick response.
I've created an event on bridge troll and will contact board@railsbridge.org
soon.
https://www.bridgetroll.org/events/147

Please let me know if I miss anything.
Thanks,
Jane

On Mon, Feb 9, 2015 at 1:40 PM, Lillie Chilen <notifications@github.com>
wrote:

--
Jane Shih
Co-Founder and CEO
Cell:+886-979-487-077
*WeTogether.co <http://www.WeTogether.co>*

[2015-02-09 15:13] raorao commented on #50
Will do! I joined the mailing list over the weekend. we'll post something in the next few days.

On Sun, Feb 8, 2015 at 7:38 PM, Lillie Chilen <notifications@github.com>
wrote:

[2015-02-10 09:40] jane-shih commented on #60
when will the event be published? please let me know if i should edit anything else to get approval.
thanks,
Jane

[2015-02-10 19:12] courtney commented on #56
@sundaykofax Question about the afterparty - how many people do you think will go? The bar we were thinking of using has a $500 minimum spend. Is someone sponsoring the drinks? I know in the past we have only paid for teachers and volunteers.

[2015-02-10 19:28] sundaykofax commented on #56
Good question! I don't have much data on this -- could someone jump in with a ballpark estimate of like, what percentage of students and volunteers go?

We have $1k to work with from GitHub. If we wanted to give a drink ticket to each of the volunteers, that's like `$6*25volunteers=$150` (I'm estimating lots here). @courtney do you think we can budget ~$850 breakfast and lunch? This seems like the

[2015-02-10 20:10] lilliealbert commented on #60
Hi Jane!

Thinking about this more, I'm realizing that maybe Bridge Troll isn't the best tool, since all of the survey questions are in English and we haven't internationalized anything within it. It might be better for the people signing up if you use a different event management tool that supports Mandarin. Things like the [class levels](https://www.bridgetroll.org/events/147/levels) on the RSVP

[2015-02-10 20:52] aneyzberg commented on #56
@sundaykofax as far as how many people go -  I just asked @rachelmyers , and she said about  50% of students/volunteers attend but she made a good point that we should make sure we have enough space for about 75% .

[2015-02-10 20:58] tjgrathwell commented on #56
@sundaykofax @aneyzberg 50% / 75% seems very high to me, but I've been to a lot of workshops where most people didn't make it to the afterparty for whatever reason. 25% seems more realistic to me but I could be pessimistic?

What bar are you thinking of going to that has a "$500 minimum spend"? Are you renting out a section of the bar? My personal stance on afterparty selection is that it shouldn'

[2015-02-11 00:08] courtney commented on #56
@aneyzberg thanks for the number check! @tjgrathwell I agree, there is a bar downstairs that offered to open up early for us but then said they wanted to make sure it was worth it. There are plenty of other spots we can go to that I think will have space (it is Saturday afternoon). So I will say no to the bar w/ the minimum.

[2015-02-11 00:10] courtney commented on #56
@sundaykofax We could do a Trader Joes run to get some items that are less carby (sliced meats and cheese and yogurt). We can then do fruit and some bagels for the rest. What do you think?

[2015-02-11 07:04] jane-shih commented on #60
Thanks Lillie.
Based on your feedback, I've added a few notes and chinese explanation on
the event page.
We'll also provide detailed instruction for students to follow when they
register on our marketing announcement.
We'd like the event to be published as normal process.
Thanks much,
Jane

On Wed, Feb 11, 2015 at 4:10 AM, Lillie Chilen <notifications@github.com>
wrote:

--
Jane Shih
Co-Founder an

[2015-02-11 17:15] lilliealbert commented on #60
@jane-shih Sounds good!

Can you confirm for me that there's language in the announcement that explains that the event is targeting an population that is underrepresented in tech, and could you update the title of the event to reflect what group of people (women, I'm guessing from your email to the board) it's for? Something like "RailsBridge Yilan Ruby on Rails Workshop for Women" is the pattern

[2015-02-11 17:30] jane-shih commented on #60
Yes, I've also changed the title of the workshop.
Thanks,
Jane

Sent from my iPhone

[2015-02-11 17:40] lilliealbert commented on #60
Awesome, thank you! Published.

[2015-02-11 20:05] sundaykofax commented on #56
@courtney :+1: to a run for what I'm hearing to be a Finnish breakfast :heart_eyes_cat: I could do a Friday (Mar 27) day or evening run.

[2015-02-11 22:35] raorao commented on #50
just submitted my notes to the listserv.

One last question: I wanted to send one more thank you email to
volunteers/students, and I was hoping to include a link to the survey
again. Is there anyway to do that? The URLs seem specific to the RSVP.

On Mon, Feb 9, 2015 at 7:13 AM, Srinivas Rao <savinirs@gmail.com> wrote:

[2015-02-12 03:38] aneyzberg opened #61 "SF March 20 - 21 RailsBridge Workshop for Women at Bloc.io"
Here's a giant list of TODOs, this time with extra emoji! :tulip:

A few months out:
- [x] Find a venue and sponsor for the workshop: Bloc.io
- [x] Find co-organizers and start going through the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook): from Yammer :steam_locomotive:
- [ ] Find co-organizers from Railsbridge Volunteers and start going through the [workshop cookbook](h

[2015-02-12 08:37] jane-shih commented on #60
Thanks much Lillie.
We are on track to market the event and the organizers are all very excited
to see our event on the front page of railsbridge.org.
Do you know when we'll get our sponsorship notice?
If RailsBridge would like to treat my company as one of the partner
organizations outside of US, I am open to discuss and develop a program to
cohost open workshops in Taiwan.
Thanks,
Jane

On Thu,

[2015-02-12 09:28] tjgrathwell commented on #50
@raorao I have added in the technology to access the surveys without RSVP ids (https://github.com/railsbridge/bridge_troll/commit/7b5907a06eb8df3b825ea96137ed168170629c21), so you can tell the email people to visit https://www.bridgetroll.org/events/137/surveys/new

[2015-02-12 18:22] raorao commented on #50
thanks!

On Thu, Feb 12, 2015 at 1:28 AM, Travis Grathwell <notifications@github.com>
wrote:

[2015-02-13 03:07] miss-danie-d commented on #61
Ready to get my organizing on!

[2015-02-16 04:30] celestelayne commented on #58
Hey @elg0nz - is there a place near Yammer's office that you would recommend for a post-workshop happy hour? thanks.

[2015-02-17 18:06] celestelayne opened #62 "SF March 4 -- Plan/Write/Code Night at MakerSquare"
This is our second monthly RailsBridge Plan/Write/Code night. @aneyzberg @ruchikakumar

[2015-02-17 18:18] sixviv opened #63 "RailsBridge workshop Colima, México March 20 - 21"
Here's a giant list of TODOs, this time with extra emoji! :tulip:

A few months out:
- [x] Find a venue and sponsor for the workshop: One Login
- [ ] Find co-organizers and start going through the workshop cookbook
- [ ] Find co-organizers from Railsbridge Volunteers and start going through the workshop cookbook

Once we have a venue/sponsor and organizers, we can:
- [x] Set a date :calendar: that

[2015-02-18 05:52] elg0nz commented on #58
Hi Celeste,
The Hot Spot has recently been remodelled and it's both nice and and fun.
http://www.yelp.com/biz/the-hot-spot-san-francisco

Beer Hall is also a good option, but it only has room for like 15 people
and gets crowded on Fridays so it might not be ideal for it but we can try.

Best,
Gonzalo

On Sun Feb 15 2015 at 8:30:45 PM Celeste <notifications@github.com> wrote:

[2015-02-19 21:58] celestelayne commented on #58
Thanks @elg0nz - I'll contact The Hot Spot (seems the better choice) for Saturday -- Celeste

[2015-02-20 17:25] lilliealbert commented on #52
Hi @KyFaSt, @pwnela, & @lclindeman — I'm taking a look at your Bridge Troll posting, and the title seems a little bit odd to me, since RailsBridge and Rails Girls are quite separate things. I'm just a little worried that people will be confused. Does that seem silly?

[2015-02-20 17:30] lclindeman commented on #52
Hey Lillie!

Thanks for reaching out. I can see how it might be confusing. The reason we titled it that way is because we have quite an active Rails Girls group here in Atlanta that meets monthly and has over 300 members on Meetup. We’ve held occasional one-day Rails Girls workshops, but, in general, we’ve long since stopped following the actual Rails Girls curriculum in favor of holding talks and

[2015-02-20 17:30] pwnela commented on #52
Hi @lilliealbert! We know this isn't conventional, but we held two Rails Girls workshops here in Atlanta in previous years which has turned into a successful monthly meetup a couple years running. Since Rails Girls Atlanta is an established and recognized community in Atlanta, we thought it made sense to state who was organizing the Railsbridge workshop. (It would be like any other developer group

[2015-02-20 17:31] pwnela commented on #52
Oops, I guess @lclindeman was replying at the same time!

[2015-02-20 17:40] mfjenn commented on #52
As a non-Atlantian who has been to a Rails Girls event in Atlanta, I can
back that up. Rails girls is more active there than Railsbridge and I'm
glad to see you leveraging the branding to bring railsbridge to Atlanta!

Good luck with the partnership and the event!
On Friday, February 20, 2015, Laura Lindeman <notifications@github.com>
wrote:

[2015-02-20 17:41] pwnela commented on #52
@mfjenn was a huge help as a coach at one of our Rails Girls workshops! (Hi!!)

[2015-02-21 07:00] lilliealbert commented on #52
Okay, it sounds like it will make sense to folks in Atlanta, which is what counts. :dancers:

One other details with the Bridge Troll listing is that it doesn't explicitly state who the event is reaching out to — could you add whether students need to be women to attend?

(RailsBridge workshops often allow people outside the target demographic to attend if they're the guest of the target demograph

[2015-02-21 14:00] mfjenn commented on #52
I’m just going to add: ...since our mission is about diversifying the dev community.

[2015-02-21 14:00] mfjenn commented on #52
Hi Pamela! It was fun and a good group!

[2015-02-23 16:35] courtney opened #64 "RailsBridge JavaScript Workshop for Women in Chattanooga, TN"
Carbon Five and Society of Work in Chattanooga, TN would like to offer a Javascript workshop to anyone in the Chattanooga, Nashville, Atlanta area. We have March 14th as the best date and are looking for volunteers to teach and help organize.

We have a large open space, some small meeting rooms for classes to break out into, and solid Wi-Fi. This is the first workshop that has been hosted at Soci

[2015-02-23 20:36] lclindeman commented on #52
I added a sentence about who should attend! Please let me know if that covers it...I'm happy to make edits if it needs to be even more clear!

[2015-02-23 22:10] courtney commented on #64
@acruikshank @keathley Do you guys know how we should handle breakfast and lunch?
@millermh do you know of a good place for us to do an afterparty? We usually comp the volunteers a drink but otherwise it just needs to be a bar where everyone can chill out afterwards.

[2015-02-24 02:11] mhelenm commented on #64
Re: afterparty -- I'm thinking Community Pie would be good because it's close enough to walk, big enough for all of us, and has good pizza if people want dinner. I will call and see if we can reserve part of their bar area because it will be crowded on a Saturday night.

[2015-02-24 05:26] sarahmei commented on #52
Super excited about this. Do you want Ruby Central to help publicize? We can tweet from @railsconf etc. if useful.

[2015-02-24 05:44] beverlynelson commented on #52
@pwnela I know I offered to be an organizing mentor by email but if you have space for an extra volunteer on site we might end up making the trip to ATL after all.  Still pending but wanted to see what your needs were on that front.

[2015-02-24 15:21] pwnela commented on #52
@sarahmei that would be great!! I think @lclindeman was planning for us to announce it this coming Friday.

And @beverlynelson of course! That would be so helpful. Hope you can make it up!

[2015-02-24 16:04] lclindeman commented on #52
@sarahmei We would love for you to help publicize! Our listing is not live yet on Bridge Troll (just waiting for it to be okayed), so we don't have anywhere to point yet, but as soon as it is I'll ping you!

[2015-02-24 21:24] lilliealbert commented on #52
Published on Bridge Troll!

One other thing I noticed is this language:

We have pretty consistent problems where people have attending a workshop in the past, or have set up all the various component a month or two ago, and then when they arrive at the workshop in the AM and things are all busted, and they have to debug with a TA instead of being present in the workshop. I'd recommend saying that

[2015-02-24 21:28] lclindeman commented on #52
No problem, that makes sense and I'll tweak it!

[2015-02-24 21:29] KyFaSt commented on #52
Right, that makes sense to have everyone attend the installfest to confirm that everything is set up properly. Thanks for pointing this out @lilliealbert :smile:

[2015-02-24 21:31] lilliealbert commented on #52
:tada: :tada: :tada:

[2015-02-25 15:39] pdougall1 commented on #52
RailsBridge April 2015 WOOP!

[2015-02-25 16:22] acruikshank commented on #64
@keaythley and I think Maple Street Biscuit company would be great for breakfast. I can take care of that. Taziki's (healthy Mediterranean) or Tony's (Lasagna) have been pretty popular catering options for DevLunch.

[2015-02-25 18:19] courtney commented on #64
@acruikshank @keathley - sounds like a plan. I'll let you handle it. Can we schedule a time to go through the curriculum?

[2015-02-27 01:52] lilliealbert commented on #64
@courtney Just published the Bridge Troll event!

One piece of feedback on your Bridge Troll posting, based on what happened at the recent JavaScript workshop: no one actually just wanted to focus on HTML & CSS, so even the beginner class started with the To Do List using jQuery curriculum. So you might consider changing the descriptions if you want to do something similar.

@raorao's [workshop re

[2015-02-27 02:34] raorao commented on #64
@courtney are you all using the js to do list curriculum? If so, I'll be sure to push some planned fixes as soon as I can. I'd also be happy to chat about our experience with the curriculum.

and :+1: to @lilliealbert's suggestion about the beginner level. If you're interested in pairing on writing an all-js beginniner curriculum, I'd love to pitch in!

[2015-02-27 06:25] courtney commented on #64
@lilliealbert This is super helpful advice - thanks! We were planning on leveraging the existing JS curriculum and maybe putting a bit of a spin on it. @raorao If you have some planned fixes we would be very grateful to get those before the class. We can absolutely help out with a pair on the all-js beginner curriculum. @acruikshank and @keathley are currently leading the charge on curriculum.

[2015-03-01 20:41] mhelenm commented on #64
@courtney @acruikshank @keathley Let's do the after party at Chattanooga Brewing Company. I talked to Community Pie, and they're already quite busy that night. CBC said we should be fine.
Address is:
1804 Chestnut St
Chattanooga, TN 37405

@courtney Do we need to know how many women will be in each of the three levels ahead of time? Or will they be able to choose a track once they arrive? Also, wo

[2015-03-02 18:11] keathley commented on #64
@mhelenm That sounds good to me :tada:

[2015-03-02 19:49] courtney commented on #64
@mhelenm I'll update the times right now. Thanks for sending out the tweet! Afterparty location sounds good, we just need somewhere with enough room :)

Also, we usually run through the levels/tracks the morning of when everyone is there. If it seems like more people are going for one class over another we can stack more teachers there.

[2015-03-02 19:54] courtney commented on #64
@lilliealbert I made some updates to the BridgeTroll event based on your feedback and Mary's. It looks like it hasn't yet been published to the Railsbridge site. Would you mind publishing soon? (https://www.bridgetroll.org/)

[2015-03-03 02:10] lilliealbert commented on #64
@courtney Done -- I totally thought I'd hit that button before! O_O

[2015-03-09 22:09] whatasunnyday commented on #55
A few months out:
- [x] Find a venue and sponsor for the workshop. This workshop covers HTML, CSS, and an intro to JavaScript. Sponsoring the workshop costs between $400 and $900, depending on the size of the workshop.
Pandora is both the venue and the sponsor.

- [x] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](h

[2015-03-10 15:26] acruikshank commented on #64
Breakfast catering is ready. Waiting to hear back about lunch.

[2015-03-10 16:46] courtney commented on #64
Thanks Alex!

c

On Tue, Mar 10, 2015 at 8:26 AM, Alex Cruikshank <notifications@github.com>
wrote:

--
Courtney Hemphill
Carbon Five

415-546-0500 x 20 | http://www.carbonfive.com
<https://twitter.com/chemphill>
<http://www.linkedin.com/in/courtneyhemphill>

[2015-03-10 18:33] acruikshank commented on #64
Lunch catering is set up now too.

[2015-03-10 18:35] millermh commented on #64
Bravo! Thanks, Alex.

On Tue, Mar 10, 2015 at 2:33 PM, Alex Cruikshank <notifications@github.com>
wrote:

[2015-03-12 13:04] millermh commented on #64
We now have 26 people signed up.

@acruikshank <https://github.com/acruikshank> I know I said to order food
for 20. And I still think that at least a handful of people won't show.

But, does anyone have any insight about what percent of sign-ups will
actually come? Should we increase our food order?

On Tue, Mar 10, 2015 at 2:35 PM, Mary Helen Miller <millermh@gmail.com>
wrote:

[2015-03-12 13:20] acruikshank commented on #64
26 is great news. I got food for 30. If all 26 show and we get 6 volunteers, we'll just be a little short (I'll run out and get food for some of us). The bigger issue is that it's only Courtney, Chris, Jordan, Andrew and me confirmed as volunteers. That's 1/5 if everyone shows. We'll try to get more today.

[2015-03-12 13:31] acruikshank commented on #64
Actually Chris got Winston and he might get Sean too, so I think we're ok with volunteers.

[2015-03-17 02:08] siruguri commented on #55
Just created the Bridge Troll event - https://www.bridgetroll.org/events/156

[2015-03-17 02:21] tjgrathwell commented on #55
I think the dates may not be right

![screen shot 2015-03-16 at 7 21 55 pm](https://cloud.githubusercontent.com/assets/1041691/6680241/95e742ea-cc11-11e4-82d1-42f4bed654cf.png)

[2015-03-17 02:34] siruguri commented on #55
Took a few tries, but I think I got it right finally! :) Also removed a
sentence asking for dietary needs to be emailed, per Lillie's observation
via email.

On Mon, Mar 16, 2015 at 7:21 PM, Travis Grathwell <notifications@github.com>
wrote:

[2015-03-17 17:14] whatasunnyday commented on #55
@siruguri Did you also post it on the meet up?

[2015-03-17 17:49] siruguri commented on #55
I don't remember doing that the last time, and recently I saw a note on the mailing list discussing whether posting to Meetup causes more confusion than is worth it... @aneyzberg - any thoughts on what's the recommended action re Meetup?

[2015-03-19 16:31] siruguri commented on #55
FYI - Pandora has confirmed all logistics, and will be paying for food. Yay! We have a wrap up call on the 27th, let us know if anyone would like to join in on that. We offered to hold some spots for Pandora employees and depending on the number, will raise the RSVP limit to let more waitlisted students in.

[2015-03-19 16:52] aneyzberg commented on #55
Yay! That's exciting!

Sent from my iPhone

[2015-03-23 16:09] courtney commented on #56
@sundaykofax we've got 33 volunteers and 60 students. I'm going to set up an order for breakfast & lunch from Whole Foods b/c they deliver!! Any objections?

[2015-03-23 16:20] sundaykofax commented on #56
None! Are we set on the Southside Spirit House? Is there anything else we need to do beforehand?

I'm remembering back to last time, thinking about what we needed day-of. Nametags and pens – I have a 100-pack of nametags, if needed.

[2015-03-23 16:58] courtney commented on #56
I don't think we have nametags, so bring those. We should have everything
else here in the office.

c

On Mon, Mar 23, 2015 at 9:20 AM, Sonya Green <notifications@github.com>
wrote:

--
Courtney Hemphill
Carbon Five

415-546-0500 x 20 | http://www.carbonfive.com
<https://twitter.com/chemphill>
<http://www.linkedin.com/in/courtneyhemphill>

[2015-03-23 17:24] sundaykofax commented on #56
Got it. :name_badge:

[2015-04-05 17:33] siruguri commented on #47
Survey sent.

[2015-04-14 00:49] lilliealbert commented on #58
This was a great workshop!! :tada: :tada: :tada:

[2015-04-14 00:49] #58 closed

[2015-04-14 01:02] lilliealbert commented on #47
This totally happened!! Yay!!!! https://www.bridgetroll.org/events/156

[2015-04-14 01:02] #47 closed

[2015-04-14 01:02] lilliealbert commented on #55
Duplicate? It happened!! https://www.bridgetroll.org/events/156

[2015-04-14 01:02] #55 closed

[2015-04-14 01:10] lilliealbert commented on #62
This happened! https://www.bridgetroll.org/events/143

[2015-04-14 01:10] #62 closed

[2015-04-14 01:10] lilliealbert commented on #60
Hi Jane! How did the workshop go?

[2015-04-14 01:11] lilliealbert commented on #61
This happened!! :tada: :tada: https://www.bridgetroll.org/events/154

[2015-04-14 01:11] #61 closed

[2015-04-14 01:40] jane-shih commented on #60
It went well. Check out the pics here.
https://m.facebook.com/story.php?story_fbid=824610687621406&id=763277990421343

 :)

Our 4/25 FE workshop is also on schedule. Over 30 people rsvped. If using
bridge troll is required to register, please let me know.
http://www.meetup.com/Taipei-Women-in-Technology/events/220447866/

Thanks,
Jane

Sent from my iPhone

On Apr 14, 2015, at 9:10 AM, Lillie Chile

[2015-04-28 03:57] aneyzberg opened #66 "May 8th & 9th SF Railsbridge workshop @ Yammer Eng"
Here's a giant list of TODOs, this time with extra emoji! :tulip:

A few months out:
- [x] Find a venue and sponsor for the workshop: I think Yammer :steam_locomotive: interested in hosting this; we can confirm
- [x] Find co-organizers and start going through the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook): from Yammer :steam_locomotive:
- [x] Find co-organizers from Rai

[2015-05-05 01:17] KyFaSt commented on #52
@lilliealbert should we close this issue now?

[2015-05-05 04:23] lilliealbert commented on #52
:tada: :tada: :tada: yeah!!! :tada: :tada: :tada:

[2015-05-05 04:23] #52 closed

[2015-06-04 08:41] #66 closed

[2015-06-05 06:03] gkop opened #67 "June 19 & 20 SF RailsBridge workshop @ Stitch Fix"
A few months out:

- [x] Find a venue and sponsor for the workshop: Stitch Fix
- [x] Find co-organizers and start going through the workshop cookbook: from Stitch Fix
- [x] Find co-organizers from Railsbridge Volunteers and start going through the workshop cookbook: co-organizers are Gabe and Neeharika

Once we have a venue/sponsor and organizers, we can:

- [x] Set a date  that works for everyone

[2015-06-14 17:15] mxhold opened #68 "July 24 & 25 Triangle Intro to Rails event"
Hello! Our last event went great and we have just confirmed the location for our second RailsBridge event in the Triangle for Friday, July 24 and Saturday, July 25 at the American Underground classroom at the American Tobacco Campus here in Durham, NC.

We have already made [an event](https://www.bridgetroll.org/events/170) on BridgeTroll. Let us know if there is anything we need to do to get it c

[2015-06-23 04:03] aneyzberg commented on #67
Thanks for a great workshop everyone!

[2015-06-23 04:03] #67 closed

[2015-06-26 04:49] livash opened #71 "Palo Alto, July 18, HTML, CSS, JavaScript workshop at Groupon"
Organizer: Olena Ivashyna (@livash)
Venue: Groupon, 3101 Park Blvd, Palo Alto
Date: July 18, 2015
Curriculum: HTML, CSS, JavaScript
Size: 50-60 people total

Event will be fully sponsored by Groupon:
- [ ] Get a mentor from RailsBridge
- [ ] Post the workshop to [Bridge Troll](http://www.bridgetroll.org/)
- [ ] Post the workshop to [Meetup](http://www.meetup.com/sfruby/#calendar) for publicity
- [

[2015-06-29 03:21] beverlynelson commented on #71
@livash this is so exciting.   Sent an email and cc'd @lilliealbert.  Not to worry, we'll get you connected with a mentor.

[2015-06-29 03:34] aneyzberg commented on #71
@livash please let me know what questions you may have. I can definitely help find a mentor as well :)

[2015-06-29 03:37] lilliealbert commented on #71
@btelles & @ravasthi are two people who have made workshops happen on the peninsula in the past, so they would be great people to talk to.

[2015-06-29 04:56] ravasthi commented on #71
@livash I'm happy to help however I can. Shall we set up a time to chat?

[2015-07-01 03:16] livash commented on #71
Thank you guys for responding and being supportive.

Richa or Anna,
could you help me with setting up a page on BridgeTroll announcing the
event?  The announcement will be very much similar to
https://www.bridgetroll.org/events/131 . Somehow I can not find an option
to post an event.

Richa, I would love to take you on an offer to setup time to chat. How
about Thursday evening, July 2 (anytime aft

[2015-07-01 05:20] aneyzberg commented on #71
@livash this url should help - https://www.bridgetroll.org/events/new - let me know if you have any questions :)

[2015-07-01 17:10] ultrasaurus opened #72 "mini intermediate workshop: open source pairing, at Carbon Five 7/14 evening"
I had an idea for an intermediate workshop where we would pair more experienced devs (anyone who knows JS and/or Ruby who has done a pull request before and is comfortable diving into a new open source project) with workshop grads.

I have a new [open source project](https://github.com/18F/open-data-maker) I want to highlight  -- it is a good-for-the-world open data project that will feature an ex

[2015-07-01 17:17] Holyoke commented on #72
I would actually love that. I've been involved with workshop and recent
graduates as volunteers for RailsBridge events before. There are quite a
few RailsBridge grads who made the jump into bootcamps or CS schooling, so
it'd be cool to still be active with their web dev journey.

An open source project would be great for portfolio and experience in
general because RailsBridge has a great community

[2015-07-01 17:28] ravasthi commented on #71
Hi Olena,

How about Thursday at 8pm PDT?

Couple of quick notes based on my past experience: I've typically had a harder time finding volunteers―especially teaching volunteers―for the peninsula RailsBridge workshops than I've seen happen in SF, so if you don't already have a bunch of volunteers lined up, I'd strongly recommend limiting signups until you have volunteers enough to cover students. I

[2015-07-01 21:36] livash commented on #71
Anna,
thanks for the link :)

Richa,
How about Thursday at 8pm PDT sounds good.

About volunteers. I have already a list of Groupon Engineers who would like
to volunteer as TAs. So I think I should be fine there. Groupon has an
employee volunteer program, and in general people are eager to volunteer.

We can chat about it during the call.

Thanks,
Olena

On Wed, Jul 1, 2015 at 10:28 AM, Richa Avas

[2015-07-02 01:24] lilliealbert commented on #72
@ultrasaurus Seems a legit use of Bridge Troll! You can start with as many student spots as you have volunteers, and then rachet up the number as more volunteers sign up :D

[2015-07-02 04:33] siruguri commented on #72
+1 - I had a similar proposal brewing, so I'm glad someone brought this up. There's a space in the East Bay that's willing to donate their building for evening events, and I was going to propose doing multiple InstallFests. What do folks think of that as a "mini" alternative, to help beginners make progress without the commitment of a full weekend workshop?

[2015-07-02 04:35] aneyzberg commented on #72
I would be interested in helping with this.

[2015-07-02 14:50] shamus commented on #72
@ultrasaurus I was out of the office yesterday, I should know about the space today!

[2015-07-02 14:52] shamus commented on #72
Also, if it wasn't clear I'm down to pair that night :smiley:

[2015-07-02 15:59] siruguri commented on #72
I would sign up too ... though it's so far out, I might have to just bookmark it for now.

(And @aneyzberg - thanks!)

[2015-07-02 17:49] ultrasaurus commented on #72
sorry for the typo -- we're hoping to do this soon!

[2015-07-02 17:51] shamus commented on #72
@ultrasaurus C5 is psyched to host

[2015-07-02 17:51] miss-danie-d opened #73 "July 18th SF RailsBridge at DevBootcamp"
Organizer: TBD
Venue: Dev Bootcamp
Date: July 17th & 18th
Curriculum: JavaScript

Here's what we still need to do
- [ ] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new to you. (Also, we match up first time organizers with mentors.)
- [ ] Work together to

[2015-07-02 17:58] siruguri commented on #72
Oh ... I'm busy Tue nights in July ... next time!

[2015-07-02 23:13] ultrasaurus commented on #72
@shawnbot will be able to join us and volunteer to pair on JS

[2015-07-03 00:43] ravasthi commented on #71
Great, talk to you later tonight! I'll call your number.

--
Richa

[2015-07-05 21:55] livash commented on #71
RailsBridge Front End workshop for Women at Groupon is happening :)

Check out the official posting and let me know if anything looks a miss.

https://www.bridgetroll.org/events/171

And I would super appreciate if someone from RailsBridge could attend.

Thanks,
Olena

On Wed, Jul 1, 2015 at 10:28 AM, Richa Avasthi <notifications@github.com>
wrote:

[2015-07-06 16:21] livash commented on #71
Hi guys,
can someone please approve my workshop such that students and volunteers
can sign up?

https://www.bridgetroll.org/events/171

or let me know what I need to do to get it approved.

Thanks,
Olena

On Sun, Jul 5, 2015 at 2:55 PM, Olena Ivashyna <olena.ivashyna@gmail.com>
wrote:

[2015-07-08 04:39] ultrasaurus commented on #72
event is posted:  https://www.bridgetroll.org/events/174
please sign up as a volunteer if you are up for pairing -- there are already students on the waitlist!

[2015-07-08 14:20] pzula opened #74 "Cleveland, OH Workshop"

[2015-07-08 14:21] pzula opened #75 "Cleveland, OH Workshop, September 2015 (@pzula)"
This workshop's going to be amazing!! Here's what we need to do!

A few months out:
- [x] Decide on a date!! (September 11th and 12th)
- [x] Find a venue (see <http://railsbridge.org/help/host>) (LeanDog)
- [x] Find sponsors for the workshop. This workshop covers Rails. Sponsoring the workshop costs between $800 - $1,000, depending on the size of the workshop.
- [ ] Find two co-organizers. It's a

[2015-07-08 14:22] #74 closed

[2015-07-08 14:26] pzula commented on #75
**Dates to consider:**
- [ ] September 4th & 5th
- [x] September 11th & 12th

[2015-07-09 14:30] ascendantlogic commented on #75
1. I'm fine with either September date.
1. I assume LeanDog would be ok to host? I could see if a few friends in Independence know of places down there if for some reason LeanDog doesn't work out.
1. I have a re-affirmed commitment of sponsorship dollars from the CEO of DecisionDesk to the tune of 2-400 dollars, depending on the final costs.
1. I just joined the board of a local charity so I'm not

[2015-07-09 14:41] pzula commented on #75
Thanks @ascendantlogic!

2. Lets work with @joelbyler to see if LeanDog would be OK for those potential dates
3. Let also work with @joelbyler and see if we can get the sponsorship check made out to CLE Ruby Brigade. This would work best if CLE Ruby Brigade also had a debit card that could be used to make the payments for the food providers / domain name
4. It's fine if you can't co-organize! You

[2015-07-13 01:31] joelbyler commented on #75
@pzula, @ascendantlogic,

Sorry it took so long to get back to you, I've been out of town on a vacation without an internet connection.  I've already talked to the folks at LeanDog and we would love to host this on the boat again.  I'll run the dates by the folks in the office tomorrow to confirm.  For me 9/4 & 9/5 are the best days, though it is a holiday weekend so I'm not sure how that will aff

[2015-07-14 15:33] ascendantlogic commented on #75
So @katieincleveland is suuuuuper excited about this and has offered to help in any way she can to help get it off the ground. She is definitely going to want to attend as a student so she'll not want to be tied up during the event but has offered assistance organizing and getting it going.

[2015-07-14 20:09] katieincleveland commented on #75
hi @pzula! and thanks @ascendantlogic!

I am really looking forward to this and would love to help in any way that I can, please let me know if there is anything I can do! I am so grateful for your time and dedication to organizing this.

[2015-07-16 12:29] joelbyler commented on #75
@kmckee and @glamouracademy are also interested in helping to TA.

[2015-07-18 15:20] crebma opened #76 "Detroit RailsBridge, September 11th-12th"
We are just getting going on running the first Detroit RailsBridge workshop, and we are pretty excited about it! We are myself and @saragibby. We have nothing completed yet besides deciding when we want to do it. :)

[2015-07-18 17:33] ultrasaurus commented on #72
closing this issue, the event went really well from my perspective and everyone I talked to said they would like to do it again.

My notes:  we should accept more students than volunteers, we had a bunch of 'no shows' which was too bad since there was a waitlist.  We had at least one group of three which seemed to go well.

[2015-07-18 17:33] #72 closed

[2015-07-18 17:36] ultrasaurus opened #77 "open source pairing workshop: 8/3 @Indiegogo"
The [first open source pairing workshop](https://www.bridgetroll.org/events/174) went well -- shall we do it again?

background: an intermediate workshop where we would pair more experienced devs (anyone who knows JS and/or Ruby who has done a pull request before and is comfortable diving into a new open source project) with workshop grads.

Project: [open source project](https://github.com/18F/op

[2015-07-19 17:11] shamus commented on #77
I'll definitely volunteer.

[2015-07-20 16:56] siruguri commented on #77
Will volunteer.

[2015-07-20 17:12] aneyzberg commented on #77
I can co-organize if you still need someone

[2015-07-22 13:07] joelbyler commented on #75
@pzula, I just realized that the Cleveland Airshow is scheduled for Sept 5, 6, 7 which will make the LeanDog boat a very busy place for the weekend.  I think we're going to have to rule that weekend out.  I can make Sept 12th (Saturday) but will need someone to fill in for me on Friday night.

[2015-07-22 14:17] lilliealbert commented on #73
This seems to have happened!! :tada: :tada: :tada:

@miss-danie-d, could you or Christina share the retro notes?

[2015-07-22 14:19] lilliealbert commented on #41
Closing this issue — if Engine Yard wants to host a workshop in the future, they should totally get in touch with the SF leadership team at SF@railsbridge.org and see what we can work out!

:panda_face:

[2015-07-22 14:19] #41 closed

[2015-07-22 14:19] lilliealbert commented on #45
hey @joker2600, I'm going to close this issue — feel free to open a new one in the future if you've got a workshop planned!

[2015-07-22 14:19] #45 closed

[2015-07-22 14:19] lilliealbert commented on #46
hey @joker2600, I'm going to close this issue — feel free to open a new one in the future if you've got a workshop planned!

[2015-07-22 14:19] #46 closed

[2015-07-22 14:20] lilliealbert commented on #56
This totally happened, yay! https://www.bridgetroll.org/events/144

[2015-07-22 14:20] #56 closed

[2015-07-22 14:21] lilliealbert commented on #57
This totally happened! Woo! https://www.bridgetroll.org/events/138

[2015-07-22 14:21] #57 closed

[2015-07-22 14:22] lilliealbert commented on #59
This happened! https://www.bridgetroll.org/events/139

[2015-07-22 14:22] #59 closed

[2015-07-22 14:22] lilliealbert commented on #60
Glad this went well! Thanks for the pics!

[2015-07-22 14:22] #60 closed

[2015-07-22 14:25] lilliealbert commented on #63
I'm not sure if this workshop ended up happening — I can't find it on Bridge Troll or online anywhere! If this was on Meetup or Eventbrite, could you send me a link, @sixviv, so I can but it in the list of workshops that have happened?

[2015-07-22 14:25] #63 closed

[2015-07-22 14:26] lilliealbert commented on #64
This happened!! Yay! https://www.bridgetroll.org/events/152

[2015-07-22 14:26] #64 closed

[2015-07-22 14:28] lilliealbert commented on #71
This workshop totally happened! :tada: :tada: :tada:

@livash, if you have notes from the retro, we'd love to get them on the organizing mailing list!

Thanks for putting on this workshop! :heart:

[2015-07-22 14:28] #71 closed

[2015-07-22 14:28] #73 closed

[2015-07-22 14:36] jane-shih commented on #60
Hi Lillie,
I have not gotten the sponsorship. Could you direct me to the right person to get the fund transferred please?

Thanks much,
Jane

Sent from my iPhone

[2015-07-22 14:41] lilliealbert commented on #60
@jane-shih Could you send a follow up email to finance@railsbridge.org? We've got a new finance committee these days, so you'll want to work with them on it.

[2015-07-22 15:34] maebeale commented on #57
:)

Thanks, much! And next weekend is our next event! :)

Best to you and the rest at RailsBridge!
mae

On Wed, Jul 22, 2015 at 10:21 AM, Lillie Chilen notifications@github.com
wrote:

[2015-07-22 17:41] jdantonio commented on #75
One of my Test Double coworkers is doing RailsBridge in Detroit Sept. 11-12. We could consider joining forces and doing a join, virtual event. That might be kind of cool. https://twitter.com/crebma/status/622426597547601921

[2015-07-22 22:17] sixviv commented on #63
@lilliealbert sorry I never updated this but we had it. Here's the event: http://www.meetup.com/codificadas/events/220739171/

[2015-07-23 16:07] pzula commented on #75
Awesome, thanks @joelbyler and @jdantonio! Let's go for September 11th and 12th! Is Leandog OK with that date?

[2015-07-23 17:32] rjulian opened #78 "Railsbridge Sacramento Workshop October 23-24, 2015"
_Organizers_: @mechamanny and I
_Venue_: Sacramento Hacker Lab
_Dates_: Friday, October 23 (Installfest), Saturday, October 24 (Workshop).

Quick To Do (will update/add more):
- [ ] Find sponsors for food
- [ ] Work with Ruby meetup to cross market/find volunteers
- [ ] Plan a teacher training

[2015-07-24 18:37] crebma commented on #76
We have found a venue (Grand Circus) and have started registering folks, and we have our instructors! Getting lots of good attention already. :)

[2015-07-25 00:29] pzula commented on #75
I've updated the website (http://clevelandrailsbridge.org), and posted the workshop to BridgeTroll at https://www.bridgetroll.org/events/178. Volunteers/TA's can sign up at that link (cc: @kmckee and @glamouracademy).   @katieincleveland, I'd love your help with spreading the word! We need some outreach to let people in the area know about the event!

[2015-07-25 00:30] pzula commented on #75
@joelbyler Let's go ahead and get that account set up for the event! We'll need a card to charge food items to :)

[2015-07-25 06:05] ange3 commented on #77
Hi volunteers! We've confirmed the next workshop for 8/3 (Mon) from 6-9 pm at Indiegogo, 965 Mission Street. Hope you can make it!

[2015-07-25 11:21] ultrasaurus commented on #77
@aneyzberg that would be awesome.  Could you make a bridgetroll event with the info from this story (above)?  Let's start with openings 6 students, since we know we have 4 volunteers, and it worked fine to have 2 students per volunteer last time, and then it'll be ok if students no-show.

Please include supervised kid time (we really need to do a pull request and not call it 'childcare') -- if any

[2015-07-26 02:03] aneyzberg commented on #77
@ultrasaurus That sounds good. Posting shortly.

[2015-07-26 02:38] aneyzberg commented on #77
@ultrasaurus I am ready to post,  but wanted to clarify a couple things before I did. Are the following the same as what was the case at the C5 workshop  -
Time - 6-10pm?
Volunteer details -
Be sure to set up your machine with the project: https://github.com/18F/open-data-maker (requires Ruby and Elastic Search).

Will wait for confirmation before I post the event.

[2015-07-26 05:47] ultrasaurus commented on #77
@ange3 said 6-9p at Indiegogo, I think it would be good if we could extend till 10p, but if we need to end at 9p, we can make that work.  We can always extend it if we hear :+1: from her.  Volunteer details are the same.

Thanks!

[2015-07-26 06:13] ultrasaurus commented on #77
@aneyzberg also, pls post the link here too so everyone who chimed in as a volunteer can sign up.  Thank you for taking the lead on this!

[2015-07-26 08:35] ange3 commented on #77
Will check on Monday about 6-10 pm and let you know!

[2015-07-26 16:32] aneyzberg commented on #77
Here is the link: https://www.bridgetroll.org/events/181

[2015-07-26 18:27] ange3 commented on #77
Awesome!!

[2015-07-27 20:37] angiegogo commented on #77
6-10 pm is confirmed! Will order food tomorrow (based on the dietary restrictions on the bridge troll event).

[2015-07-27 20:42] aneyzberg commented on #77
great- event has been updated. https://www.bridgetroll.org/events/181

@ultrasaurus  should be open the event to 8 people since we have 4 volunteers?

[2015-07-30 07:28] iisa commented on #77
hi there, checking in with bridgetroll event stats - 10 volunteers, 6 confirmed students with 29 waitlisted.  Should we open up the waitlist before end of the week and ask everyone to confirm their rsvps?

[2015-07-30 08:21] ange3 commented on #77
We now have 11 volunteers so I think we should definitely get at least 5 students off the waitlist! @ultrasaurus what do you think?

I've ordered food for 24 people. You can contact me at 650-868-6580. We'll be meeting on the 5th floor of the building in the Events Space :) --> Added a note about that on the Railsbridge event.

[2015-07-30 14:50] pzula commented on #75
@glamouracademy and @katieincleveland, is there a better way to contact you outside of this github issue?

[2015-07-30 15:36] katieincleveland commented on #75
@pzula the best way to reach me is via email, katieincleveland@gmail.com :)

[2015-07-30 15:52] glamouracademy commented on #75
@pzula charlottechang.ny_at_gmail

[2015-07-30 15:58] jdantonio commented on #75
Welcome @glamouracademy! It'll be great to work with you again!

[2015-07-30 22:30] ultrasaurus commented on #77
@aneyzberg or @ange3 can you add my _other_ BridgeTroll account as a co-organizer -- I renamed it to "the Real Sarah Allen."  I forgot about this issue that my account has.

We have LOTS of volunteers.   With 11 volunteers, I think we should accept at least 16 students... maybe even 18.  Can someone change the RSVP limit?

Thanks!

[2015-07-30 22:52] iisa commented on #77
Hi Hi, I just updated the workshop student count to 16 and sent an email to all & waitlisted attendees to update their RSVP if needed.

I find that checking in a few days before the workshop (aside from the automated emails) helps make the rsvp count be more true. (does that make sense?)
If we need to raise the student count to more, we can.  With attendance counts on Bridgetroll, you can go up bu

[2015-07-30 23:12] aneyzberg commented on #77
thanks for doing that @iisa!

[2015-08-05 05:44] ange3 commented on #77
Anyone have a picture of last night's event? Giving a quick shout out about the great event at Indiegogo's All Hands tomorrow!

[2015-08-05 06:21] aneyzberg commented on #77
Great Event! Closing this issue. Excited for the next one!

[2015-08-05 06:21] #77 closed

[2015-08-05 06:23] aneyzberg commented on #77
I think @ultrasaurus may have pictures from the event :)

[2015-08-06 01:32] JasonEb opened #79 "Open Source Pairing workshop: 8/19 @ Carbon 5"
Open Source Pairing Workshop continues!

background: an intermediate workshop where more experienced devs (anyone who knows JS and/or Ruby who has done a pull request before and is comfortable diving into a new open source project) are paired with workshop grads.

Project: [open source project](https://github.com/18F/open-data-maker) -- it is a good-for-the-world open data project that will featur

[2015-08-06 03:28] shamus commented on #79
Carbon Five is confirmed for 8/19

[2015-08-06 03:46] JasonEb commented on #79
How many volunteers and students should we anticipate? Given the traction of the workshop, I feel like setting it at 10 volunteers and 10 students is safe.

[2015-08-11 01:29] shamus commented on #79
Hi everybody, what is the status on this workshop? Is there a bridgetroll event? Are the 18f folks confirmed for this evening?

[2015-08-11 01:33] JasonEb commented on #79
@shamus I was waiting on confirmation how many attendees to set for the BridgeTroll event at Carbon Five. I'm guessing 20 expected guests is okay for Carbon Five? I can go ahead and create the BridgeTroll in order to confirm planning, then I'll confirm if @ultrasaurus and @shawnbot are going.

[2015-08-11 01:51] shamus commented on #79
I see. Yes, we can accommodate twenty

[2015-08-11 20:21] crebma commented on #76
Our workshop is almost completely full, but we still haven't found any sponsors, unfortunately. I tend to send a lot of request emails for sponsorships in general, but they're always to local companies - are there any companies that might be interested that aren't in southeast Michigan?

[2015-08-12 13:15] rachelmyers commented on #76
Yes! I know there are others, but I can help along requests to GitHub. Here's the [form](https://community.github.com/?r=rachelmyers) to ask for :money_with_wings:, and I'd definitely mention that the workshop is quickly approaching and you're having trouble finding sponsors. :smile_cat:

[2015-08-12 15:25] crebma commented on #76
Thank you so much, @rachelmyers!

[2015-08-12 17:27] gkop opened #80 "August 21 & 22 SF RailsBridge workshop @ Instacart"
A few months out:
- [x] Find a venue and sponsor for the workshop: Instacart
- [x] Find co-organizers and start going through the workshop cookbook: from Instacart
- [x] Find co-organizers from Railsbridge Volunteers and start going through the workshop cookbook: co-organizers are Gabe and just Gabe :( Anybody want to help me out??

Once we have a venue/sponsor and organizers, we can:
- [x] Set a

[2015-08-13 01:49] sunnyrjuneja commented on #80
@gkop I didn't see it on Bridge Troll. Do you mind posting the link?

[2015-08-13 04:52] gkop commented on #80
Sure, https://www.bridgetroll.org/events/186 (it's still unpublished)

[2015-08-17 12:36] ultrasaurus commented on #79
@Holyoke @aneyzberg @shamus Shawn is out of town this week.  It would be great if we could do a little brainstorming in advance about how to structure the Javascript work.  Would anyone be available Tues lunch or Tues evening to do some advance work on this?  I think getting some JS dependencies into the Jekyll app could really help -- maybe integrating PR from @slhaines  and creating a layout and

[2015-08-17 14:56] shamus commented on #79
I'd be happy to brainstorm over lunch on Tuesday @ultrasaurus.  We should definitely talk layout, its not a straight forward path with liquid, as @slhaines and I found out last event when we tried to do that work.

[2015-08-17 17:36] JasonEb commented on #79
@ultrasaurus Unless noted otherwise, I'll  send an email tonight to all the students and volunteers with that email about setting up their environment.

[2015-08-17 20:35] aneyzberg commented on #79
@ultrasaurus Unfortunately I cannot meet tomorrow at lunch, but could tomorrow evening. Let me know if you decide to meet then. Since Jason is sending out the email, let me know what else I can help with.

[2015-08-18 13:59] ultrasaurus commented on #79
Ack!  Today has filled up with things and need to be home in the late afternoon / early evening.  Anyone up for a hangout around 8p?  @aneyzberg @shamus @Holyoke or anyone else who wants to scrub in?

[2015-08-18 16:09] aneyzberg commented on #79
@ultrasaurus I can do a hangout around 8pm

[2015-08-18 17:26] JasonEb commented on #79
I'm going to be coming back from Mountain View tonight so I won't be able to hangout too much, but if the video link is provided I can drop by and at least provide moral support.

[2015-08-19 02:30] ultrasaurus commented on #79
here's a hangout link:  https://plus.google.com/hangouts/_/ultrasaurus.com/open-source?authuser=0

[2015-08-19 05:05] ultrasaurus commented on #79
@Holyoke @aneyzberg we've just got 1 volunteer on the waitlist -- I think we should let more volunteers in, if we've got 'em... how 'bout it?

[2015-08-19 05:13] aneyzberg commented on #79
sounds good to me!

[2015-08-20 06:20] ultrasaurus commented on #79
@Holyoke @aneyzberg -- it seemed that we only had about 1/3 of the students show up.  @shamus and I wondered if people got confused because the door intercom wasn't working.  Could one of you send a note to folks asking if people had trouble getting in or there was something else that made it difficult to attend?

Thanks for making this happen!

[2015-08-20 06:22] ultrasaurus opened #81 "Open Source Pairing workshop, 9/24, CarbonFive"
Open Source Pairing Workshop continues!

background: an intermediate workshop where more experienced devs (anyone who knows JS and/or Ruby who has done a pull request before and is comfortable diving into a new open source project) are paired with workshop grads.

Project: [open source project](https://github.com/18F/open-data-maker) -- it is a good-for-the-world open data project that will featur

[2015-08-20 06:25] ultrasaurus commented on #79
FYI: created a placeholder for the next event:  https://github.com/railsbridge/organizing/issues/81
sent email to the DevBootcamp folks that @mtvillwock introduced me to

[2015-08-20 06:37] aneyzberg commented on #81
sounds great!

[2015-08-22 13:37] #79 closed, assigned to nobody

[2015-08-22 13:39] ultrasaurus commented on #81
@mtvillwock I emailed the devbootcamp folks, but the emails are bouncing... can you intro us via email?  I'm sarah -at- ultrasaurus -dot- com

[2015-09-08 00:54] pzula commented on #75
@jdantonio Ping on "Coordinate with Detroit for a virtual workshop hangout!" item above -- any progress on this?

[2015-09-11 22:34] shamus commented on #81
@ultrasaurus C5 is happy to host the next one.  Next week is bad but the week of 9/24 is open.

A lot of C5 is out of town that week, but I'm happy to organize if you don't have any other takers.

[2015-09-13 00:09] ultrasaurus commented on #81
Thurs 9/24 could work for me.  The next week I'm in DC at beginning of week and the end of the week is the Code for America summit.

[2015-09-14 05:05] aneyzberg commented on #81
I could help with that on 9/24

[2015-09-14 17:55] shamus commented on #81
Ok, I'll set this up for 9/24 on bridge troll at the end of today. I'll make both @ultrasaurus and aneyzberg organizers as well. I will reach out to c5 to volunteer.

I'm gonna put 10 volunteers, 20 students.

[2015-09-15 06:29] aneyzberg commented on #81
That sounds good to me.

[2015-09-16 16:06] shamus commented on #81
I created the event in bridge troll on Monday.  Just waiting for the event to be approved.

[2015-09-16 17:21] aneyzberg commented on #81
awesome!

[2015-09-19 14:50] szesze20 opened #82 "Railsbridge Workshop East Bay (San Francisco Area)"
A few months out:

 Find a venue and sponsor for the workshop
 Find co-organizers and start going through the workshop cookbook
 Find co-organizers from Railsbridge Volunteers and start going through the workshop cookbook:
Once we have a venue/sponsor and organizers, we can:

 Set a date that works for everyone.
 Set an RSVP limit that works for everyone
 Post the workshop to Bridge Troll
 Post th

[2015-10-06 06:12] aneyzberg commented on #81
Was a great workshop. closing this issue.

[2015-10-06 06:12] #81 closed, assigned to nobody

[2015-10-06 06:12] aneyzberg commented on #80
Great workshop! closing the issue :)

[2015-10-06 06:12] #80 closed, assigned to nobody

[2015-10-07 04:37] aneyzberg opened #83 "Nov 20 & 21 SF RailsBridge workshop @ HackerOne"
A few months out:
- [x] Find a venue and sponsor for the workshop: HackerOne
- [x] Find co-organizers and start going through the workshop cookbook: from HackerOne
- [ ] Find co-organizers from Railsbridge Volunteers and start going through the workshop cookbook:

Once we have a venue/sponsor and organizers, we can:
- [x] Set a date  that works for everyone.
- [x] Set an RSVP limit  that works for

[2015-10-07 18:51] aneyzberg commented on #81
@raebot I think we were planning on having an event this month. I think It was just a matter of finding a space for it. I will keep you posted

[2015-10-10 19:07] sidhene commented on #83
Hi Anna,

What's needed here? I just finished a gig and have time.

[2015-10-19 22:08] aneyzberg commented on #83
@sidhene Sorry for the delay on this. I think we have this covered. But am meeting with the organizer manager for this one tonight. so will let you know!

[2015-11-04 06:48] aneyzberg commented on #83
@sidhene I apologize, I thought I responded but i guess not :/ We are all set for this event. But will keep you posted about the next one in case you are around!

[2015-11-04 17:03] sidhene commented on #83
No worries. I just wanted to make sure that you were set.
I am taking a few months off, so LMK if you want me for something.

[2015-11-05 05:40] aneyzberg commented on #83
Sounds good. Thank you! I definitely will.

[2016-02-03 04:32] sidhene opened #84 "March Rails Workshop 3/25-26 at Carbon 5"
At a Ruby meetup talking to some ladies about how awesome Railsbridge workshop is so making event for them to participate in.
- [x] Find a venue - Carbon 5
- [x] and sponsor for the workshop: Carbon 5
- [x] Find Venue co-organizers and start going through the workshop cookbook
- [x] Find co-organizers from Railsbridge Volunteers and start going through the workshop cookbook

Once we have a venue/s

[2016-02-03 06:02] lilliealbert commented on #84
@aneyzberg & co have been making workshops happen in SF (seemingly not using this repo quite as much) — it's probably worth coordinating with them about what they have in the works for March. :palm_tree:

[2016-02-03 06:21] aneyzberg commented on #84
Awesome regarding march! @sidhene we may already have a venue lined up, unless you have somewhere in mind.  and yes, @lilliealbert we haven't been using this as much, I was actually just thinking about that today. We should go back to using it, so people have an idea of what workshops are happening.

[2016-02-03 18:17] sidhene commented on #84
Hi @aneyzberg !
I am hoping to host this at Carbon Five. I asked Rae about it last night and she said maybe. Yes, if you have another option that would be great since it's only "maybe". Yes, @lilliealbert you are right about connecting with the team, @aneyzberg let me know what your schedule is like and let's plan a get-together.

[2016-02-03 18:18] sidhene commented on #84
PS: if you're no longer using GitHub, how are you planning nowadays?

[2016-02-07 19:17] aneyzberg commented on #84
@sidhene I will ask carbon five, although we have a couple of other venues I am waiting to hear back from. We have been using a google doc, but should go back to using github so that everyone can see what is going on. I'm at carbon five now too, so I can ask as well. And yes, we can definitely find a time to get together. Weekday evenings tend to work best. Maybe this wednesday after work? let me

[2016-02-09 01:11] sidhene commented on #84
Hi @aneyzberg
You're at Carbon 5? That's fabulous! I'm already talking to Rae. I will add you to the email chain.
-A

[2016-02-09 05:07] aneyzberg opened #85 "Feburary 19th and 20th SF RailsBridge workshop @Dev Bootcamp"
A few months out:
- [x] Find a venue and sponsor for the workshop: DevBootcamp
- [x] Find co-organizers and start going through the workshop cookbook: from Dev Bootcamp
- [x] Find co-organizers from RailsBridge Volunteers and start going through the workshop cookbook:

Once we have a venue/sponsor and organizers, we can:
- [x] Set a date  that works for everyone.
- [x] Set an RSVP limit  that work

[2016-02-09 05:08] aneyzberg opened #86 "Feburary 19th and 20th SF RailsBridge workshop @Dev Bootcamp"
A few months out:
- [x] Find a venue and sponsor for the workshop: DevBootcamp
- [x] Find co-organizers and start going through the workshop cookbook: from Dev Bootcamp
- [ x] Find co-organizers from RailsBridge Volunteers and start going through the workshop cookbook:

Once we have a venue/sponsor and organizers, we can:
- [x] Set a date  that works for everyone.
- [] Set an RSVP limit  that work

[2016-02-09 05:08] #86 closed, assigned to nobody

[2016-02-09 05:10] aneyzberg commented on #84
@sidhene we may want to see if we can do this at the end of march is possible? We are trying to have workshops the third weekend of every month if possible  and we are having one at the end of February, so early march might be too soon for another workshop.

[2016-02-09 05:10] aneyzberg commented on #83
This went well. And hacker one said they would agree to host again :)

[2016-02-09 05:10] #83 closed, assigned to nobody

[2016-02-09 18:34] sidhene commented on #84
Works for me :)

[2016-02-12 03:32] sidhene commented on #84
YESSSSSSS! Thank you Rae!

[2016-03-02 20:33] aneyzberg commented on #84
@sidhene @raebot Do we want to post the event on Bridge Troll? I can do it if you guys would like. We just need to figure out what the RSVP limit would be. @raebot what do you think for the amount of people?

[2016-03-04 17:01] aneyzberg commented on #84
@sidhene Do you think you will be able to get this posted today? If not, let me know, and I can do it :)

[2016-03-04 17:19] sidhene commented on #84
@aneyzberg - I've posted it. Am having some difficulty lining up female and WOC teachers so I'm holding off on sending out announcements so the vol slots don't fill up with men. (I assume this is still most of our potential teachers.) Can you help?

Also is Carbon 5 providing space or also food/afterparty sponsorship? LMK.

[2016-03-04 17:21] sidhene commented on #84
RSVP count is low at the moment because it can be expanded but not contracted. Eventually I'll aim for 50.

[2016-03-04 21:05] aneyzberg commented on #84
@sidhene, I"ll spread the word to my network today :)

On Fri, Mar 4, 2016 at 11:04 AM, Rae Bonfanti notifications@github.com
wrote:

##

LinkedIn: Anna-Neyzberg
http://www.linkedin.com/pub/anna-neyzberg/16/453/935/en
Github: aneyzberg https://github.com/aneyzberg

[2016-03-04 22:14] sidhene commented on #84
@raebot Wonderful! I have a few potential volunteers from Pivotal as well.

[2016-03-06 18:33] aneyzberg commented on #84
@sidhene I see that the event is pending. Is there a reason that the numbers are so low?

[2016-03-08 03:40] sidhene commented on #84
@aneyzberg @raebot - You mentioned you had some women who wanted to teach. I've held off publishing to give the women teachers a chance to sign up. Please have them do so here: https://www.bridgetroll.org/events/252

[2016-03-10 03:03] sidhene commented on #84
We have 4 women teachers so far and I've sent out a couple more invitations. I'll raise the rsvp and  publish/send the announcement tomorrow.

[2016-03-10 06:50] aneyzberg commented on #84
@sidhene sounds good about posting tomorrow. @raebot as far as teacher training. We tend to have them about once a quarter. It's usually on an evening, it takes about 2.5 hours. We could probably have one if C5 is willing to give us the space for an evening. We usually get 15 people.  I can lead it if you would like. let me know :)

[2016-03-10 19:24] sidhene commented on #84
thanks @raebot - I'd like to have teacher training too. LMK when you find out about time.

[2016-03-11 01:14] sidhene commented on #84
Let's try Monday 3/21 - It's far ahead enough and hopefully not too many
people will have conflicts.

On Thu, Mar 10, 2016 at 4:38 PM, Rae Bonfanti notifications@github.com
wrote:

[2016-03-11 05:32] aneyzberg commented on #84
@sidhene @raebot that sounds good to me.

[2016-03-11 16:52] sidhene commented on #84
This is for Railsbridge Volunteers in general, right, not just the March workshop? If so, I'll make another Bridgetroll event for it.

[2016-03-11 17:17] sidhene commented on #84
Yes. Or we can just make the event really small. Not all of the March
volunteers are going to be available, so I doubt we'll need all of those
seats.

@raebot  - the eventual workshop event size is 50, right?

@aneyzberg https://github.com/aneyzberg - what has the 'flake' percentage
been lately?

On Fri, Mar 11, 2016 at 8:56 AM, Rae Bonfanti notifications@github.com
wrote:

[2016-03-11 17:29] aneyzberg commented on #84
@sidhene I told rae 10-15 people, because that is how many we have historically had show up, and we tend to keep the event small. So I would create an event for 15 people.

[2016-03-11 21:06] aneyzberg commented on #84
@sidhene is the railsbridge event ready to be published. I can publish it if it is. I would like to publish by the end of the day unless there is a reason to wait.

[2016-03-12 02:37] sidhene commented on #84
@aneyzberg  I hit "publish" (technicallly, updating the event with the "send announcement" option checked) a couple of days ago.

The event looks like it's pending approval. I was wondering what was wrong.

[2016-03-12 02:45] sidhene commented on #84
Anyhow, yes please send it out. I'm not holding it back on purpose. I just triple-checked and couldn't find anything undone. I think I just haven't been approved.

[2016-03-13 08:09] aneyzberg commented on #84
Hey amy, sorry somehow I missed this message earlier. sounds good. I just published it, so everyone can see it :)

[2016-03-13 18:01] sidhene commented on #84
Okay thanks. What was wrong? Was it waiting for approval or did I miss something?

[2016-03-14 06:56] aneyzberg commented on #84
@sidhene It was waiting for approval. When you said you were publishing it, I thought you meant you had approval to make it live. But then I realized you just meant you hit the publish button. So I went ahead and made it live.

[2016-03-15 17:04] sidhene commented on #84
Thanks :)

[2016-03-15 17:20] sidhene commented on #84
@raebot @aneyzberg - did we confirm Carbon 5 for 3/21 (next Monday) teacher training? I was about to send out the announcement to the volunteers.

[2016-03-16 01:21] aneyzberg commented on #84
@sidhene @raebot  was the one that got the approval. If she doesn't get back to you later tonight, I'll check with our office manager in the morning.

[2016-03-16 06:35] sidhene commented on #84
@raebot No worries :) Let's start at 6:30 and finish at 9.

Is Carbon 5 covering food for both the installfest and workshop?

On Tue, Mar 15, 2016 at 7:58 PM, Rae Bonfanti notifications@github.com
wrote:

[2016-03-16 06:39] aneyzberg commented on #84
@sidhene @raebot I feel like 6:30 - 8:30 should be plenty of time? We end up going  a bit over, but it keeps the workshop more focused. Does that sounds ok?

[2016-03-16 08:15] aneyzberg commented on #84
Also @sidhene @raebot we should up the limit for students? we only have 30 spots for students. and we usually have like 30% no show. So can we bump students to 60. that way if we get 40 students we are happy?

[2016-03-17 07:02] aneyzberg commented on #84
@sidhene @raebot unless you are against it, I am going to bump up the workshop to 60 student tomorrow. Also @sidhene I noticed that you added the teacher training as part of this event. Generally the past year the SF leadership team has been holding them as separate events so people who want to teach at a workshop but might not make it to this one, can attend. I am afraid that if we keep it to thi

[2016-03-21 16:09] pzula commented on #75
this was a great event! Looking forward to 2016!

[2016-03-21 16:09] #75 closed

[2016-04-04 19:36] sidhene commented on #84
Workshop was great! Thanks everyone!!

[2016-04-04 19:36] #84 closed, assigned to sidhene

[2016-04-20 12:37] KyFaSt opened #87 "July 22nd & 23rd 2016 Atlanta Rails Bridge Workshop"
This workshop's going to be amazing!! Here's what we need to do!

General:
- [x] make a [sweet wrap up flyer](https://dl.dropboxusercontent.com/u/55826860/RailsBridge/more-resources-flyer.pdf) so atteendees will have resources to keep learning after the workshop
- [x] get a local junior developer to speak during an afternoon break at the workshop about their experience with rails (maybe even someo

[2016-04-25 18:07] kkeppel opened #88 "May 20th and 21st SF RailsBridge workshop @Bleacher Report"
A few months out:
- [x] Find a venue and sponsor for the workshop: Bleacher Report
- [x]  Find co-organizers and start going through the workshop cookbook: Anna
- [ ]  Find co-organizers from RailsBridge Volunteers and start going through the workshop cookbook:

Once we have a venue/sponsor and organizers, we can:
- [x]  Set a date that works for everyone. May 20-21
- [x]  Set an RSVP limit that w

[2016-06-11 15:03] dotthespeck opened #89 "Railsbridge Workshop in Portland, ME (Sept 16-17)"
Date: September 16-17, 2016
Location: Portland Public Library
More details TBA

[2016-06-13 21:17] JasonEb opened #90 "June 24th and June 25th RailsBridge workshop @ Dev BootCamp"
Goals:
- [x] Pick a curriculum (Rails, Ruby)
- [x] Find a venue and sponsor for the workshop.
- [ ] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new to you. (Also, we match up first time organizers with mentors.)
- [ ] Read through the [Fundraising and Acc

[2016-07-05 01:01] aneyzberg commented on #90
This was a great workshop! Closing the issue.

[2016-07-05 01:01] #90 closed, assigned to nobody

[2016-07-05 01:01] aneyzberg commented on #88
This was the first time at bleacher report and it was a great venue. Closing this issue.

[2016-07-05 01:01] #88 closed, assigned to nobody

[2016-07-05 01:02] aneyzberg commented on #85
Workshop is done, so closing this issue.

[2016-07-05 01:02] #85 closed, assigned to nobody

[2016-07-18 03:02] hfenton opened #91 "Cleveland Railsbridge Workshop, September 16-17, 2016"
This workshop's going to be amazing!! Here's what we need to do!

A few months out:
- [x] Decide on a date!! (September 16-17)
- [x]  Find a venue (see http://railsbridge.org/help/host) (Cover My Meds)
- [x]  Find sponsors for the workshop. This workshop covers Rails. Sponsoring the workshop costs between $800 - $1,000, depending on the size of the workshop. (Currently CMM, others welcome)
- [x]

[2016-07-19 01:30] aneyzberg opened #92 "SF Ruby on Rails Workshop for Women July 29th - 30th"
Goals:
- [x] Pick a curriculum (Rails, Ruby)
- [x] Find a venue and sponsor for the workshop.
- [ ] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new to you. (Also, we match up first time organizers with mentors.)
- [ ] Read through the [Fundraising and Acc

[2016-07-26 23:10] jdantonio commented on #91
- [ ] Get Twitter account info
- [ ] Gain access to info@clevelandrailsbridge.org
- [ ] Register clevelandrailsbridge.org again
  - [ ] Configure http://cle-railsbridge.github.io with the new domain
- [x] Generate opening presentation and post to new web site

[2016-08-02 05:13] aneyzberg commented on #92
Great workshop at bugcrowd. Closing issue.

[2016-08-02 05:13] #92 closed, assigned to nobody

[2016-08-02 05:18] aneyzberg opened #93 "SF Ruby on Rails Workshop for Women August 19th - 20th"
Goals:
- [x] Pick a curriculum (Rails, Ruby)
- [x] Find a venue and sponsor for the workshop.
- [x] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new to you. (Also, we match up first time organizers with mentors.)
- [x] Read through the [Fundraising and Acc

[2016-08-04 03:47] akanshmurthy commented on #93
Cool, I can help out!

[2016-08-05 04:59] akanshmurthy opened #94 "RailsBridge Hackathon"
Is anyone interested in organizing a RailsBridge hackathon?

Typical format but perhaps volunteers can help lead each team (1 volunteer/team) and guide students with tasks and the like. We could even preselect projects that we know can be done in a day.

I've heard from numerous students that something new compared to the regular curriculum would be welcome.

cc: @aneyzberg

[2016-08-05 05:02] siruguri commented on #94
The 18F folks have had "code pairing" sessions a while ago,  that were
similar to this idea. They had some cool 18F projects to hack on.

Typed on a phone

On Aug 4, 2016 9:59 PM, "Akansh Murthy" notifications@github.com wrote:

[2016-08-07 21:00] akanshmurthy commented on #94
Cool! @siruguri , is that a potential yes, in terms of interest?

[2016-08-09 19:25] siruguri commented on #94
@akanshmurthy I'm in general up for organizing, and have co-organized a few RB (Rails intro) events before. If you want to chat/brainstorm offline sometime, lmk. I live in Oakland, and wfh.

[2016-08-10 03:10] careful-with-that-axe-zz opened #95 "SF Ruby on Rails Workshop at Instacart October 21/22"
Instacart has reached out to me about setting up a RailsBridge at Instacart.  Yay!

This is a placeholder for that event while I connect with the RailsBridge team to figure out the actual date and logistics.

[2016-08-10 03:40] JasonEb commented on #95
September is booked already iirc, but I believe October and November are
available thus far. If we can book them then, that'd be great - nonetheless
we can follow this up on Slack or e-mail!

On Tuesday, August 9, 2016, Jane S. Sebastian notifications@github.com
wrote:

[2016-08-10 03:46] careful-with-that-axe-zz commented on #95
Thanks Jason!  I updated the title to October and will chat/email with you shortly.

[2016-08-10 04:15] aneyzberg commented on #95
@careful-with-that-axe @Holyoke I just spoke with braintree today about hosting in November. and yes September is booked. I will post that asap. But October would be great!

[2016-08-10 04:22] aneyzberg opened #96 "SF Ruby on Rails Workshop At Stitchfix 9/16-9/17"
Goals:
- [x] Pick a curriculum (Rails, Ruby)
- [x] Find a venue and sponsor for the workshop.
- [ ] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new to you. (Also, we match up first time organizers with mentors.)
- [ ] Read through the [Fundraising and Acc

[2016-08-10 04:24] aneyzberg commented on #94
@akanshmurthy I think that is a great idea, especially if there is a little more structure than a normal hackathon so that less experiences students could also participate.

[2016-08-10 04:27] careful-with-that-axe-zz commented on #95
@aneyzberg thanks!  I will let Instacart know.

[2016-08-10 15:38] akanshmurthy commented on #94
@siruguri : awesome! I think I might have a sponsor already so perhaps I'll set up an organizer's meeting soon.

@aneyzberg : totally!

[2016-08-21 21:55] sarcas opened #97 "RailsBridge Workshop in Edinburgh, UK Date: November 11 2016"
First time organising a RailsBridge workshop in Scotland it seems! Looking forward to introducing new folk to solving problems with computers.

A checklist? A checklist. We are fans of checklists

A few months out:
- [x] Decide on a date
- [x] Confirm Venue (see http://railsbridge.org/help/host)
- [x] Work out budget for the workshop
- [x] Find sponsors for the workshop, based on budget
- [x] Find

[2016-08-26 19:35] careful-with-that-axe-zz commented on #95
Side note, I can organize this workshop but do need a mentor organizer and a couple of co-organizers for the day of so hopefully I can help teach a bit too.

[2016-08-26 20:08] dvidsilva commented on #95
I have time to help on this one, let me know where am I needed. I'll be out of town next week and return sept 5th, but other than that I'm highly available.

[2016-08-26 20:14] careful-with-that-axe-zz commented on #95
Stellar!  I will get in touch with you mid September to start planning.

[2016-08-28 02:59] aneyzberg commented on #95
@careful-with-that-axe I can also help find one more organizer and can be the mentor organizer. . Generally we don't have organizers teach the day of, because there is a lot of running around to do. So if you plan on teaching, we should probably have 2 other people organizing.

[2016-08-29 16:11] KyFaSt commented on #87
We did it y'all 🐢

[2016-08-29 16:11] #87 closed, assigned to nobody

[2016-08-30 04:12] careful-with-that-axe-zz commented on #95
Thanks @aneyzberg I will follow up with you directly.  And absolutely another organizer would be great so I could keep teaching and stay in the organizer loop (or can leave if it helps) to help out prior to the event especially in regards to the teacher training/rsvp flakiness mitigating measures. :)

[2016-09-01 14:47] ravencovington opened #98 "Rails Girls Atlanta Presents Rails Bridge Nov. 4th & 5th"
This workshop's going to be amazing!! Here's what we need to do!

General:
- [ ] make a sweet wrap up flyer so attendees will have resources to keep learning after the workshop
- [ ] get a local junior developer to speak during an afternoon break at the workshop about their experience with rails (maybe even someone who attended the workshop last year!)

A few months out:
- [ ] Find a venue
- [ ]

[2016-09-01 14:48] ravencovington commented on #98
@kyfast
@britnia

[2016-09-01 15:56] twitnithegirl commented on #98
Do these dates interfere with Rubyconf? I'm emailing eVestment today. They sounded positive about hosting last night.

[2016-09-01 15:57] ravencovington commented on #98
@britnia I took a guess. Can you confirm the correct dates?

[2016-09-01 18:48] KyFaSt commented on #98
@ravencovington / @britnia  I think we were considering Nov 4th & 5th or Nov 11th and 12th since they're Fri/Sat pairs that don't overlap with RubyConf

[2016-09-01 18:57] twitnithegirl commented on #98
The 11th and 12th do overlap. It's the 10th-12th

On Thursday, September 1, 2016, Kylie notifications@github.com wrote:

##

Britni Alexander

Code Magician

404.538.7224

britnialexander@gmail.com

[2016-09-01 18:59] twitnithegirl commented on #98
Sorry, I thought I responded back. The correct dates are the 4th and 5th

[2016-09-07 05:22] akanshmurthy commented on #81
Hello! @siruguri provided me with this event link. Can I connect with you, @ultrasaurus or @aneyzberg about how this went? A few volunteers and I are planning a RailsBridge hackthon-style/pairing event for November 2016 with a sponsor/venue lined up and we are trying to determine the content for the event. We'd love to hear how this went and things to focus on or not do based on your experiences.

[2016-09-07 05:28] akanshmurthy commented on #94
For those thinking about helping, we just had our first organizational meeting with 7 people (volunteers and/or sponsor representatives) in attendance. We are starting the process of determining the content for the event. Ping me if you want to help or have ideas!

[2016-09-08 16:26] aneyzberg commented on #81
@akanshmurthy We have talked about it a bit, but we can definitely talk more about it. Let em know when works for you.

[2016-09-09 02:04] akanshmurthy commented on #81
Cool, thanks! Will follow up soon.

On Thursday, September 8, 2016, Anna Neyzberg notifications@github.com
wrote:

[2016-09-12 02:42] dotthespeck commented on #89
Check with Sam about projector/white board; name tags; Post-It Notes

[2016-09-12 02:51] dotthespeck commented on #89
Slides to Bob for command line tutorial

[2016-09-12 02:52] dotthespeck commented on #89
Order food:
Wednesday: Two Sisters
Thursday: Dutchs, Ottos

[2016-09-12 02:58] dotthespeck commented on #89
Schedule:

Friday:
6pm - Opening remarks
6:15 - Installfest starts/pizza
7:00 - Command line tutorial with Bob
8:00 - Finish Installfest

Saturday:
9:30 - Soft start/breakfast
10:00 - Presentation: What is Ruby?
11:00 - Presentation: What is Rails?
12:00 - Lunch
1:00 - 3:00 - Work through curriculum
3:00 - Breakout on topic of students' choosing
4:00 - Move to Slab for after-party

[2016-09-12 02:58] dotthespeck commented on #89
Set up wiki page that participants can access during workshop

[2016-09-16 19:24] twinn opened #99 "Tampa, Fl Oct 21 & 22 Rails Workshop at Harbr Co"
This workshop's going to be amazing!! Here's what we need to do!

A few months out:
- [x] ~~Pick a curriculum~~ (**_Rails**_, Front End, JavaScript, Ruby)
- [x] ~~Find a venue and sponsor for the workshop.~~ (**_Harbr**_)
- [ ] Find ~~two~~ one more co-organizer~~s~~. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](https://github.com/railsb

[2016-09-21 21:00] kplawver commented on #99
I'm not sure what the official process is for assigning mentors, but until I figure that out, I'm happy to help answer any questions / point you in the right direction!  I'm the organizer for RailsBridge Savannah where we've put on 16-ish workshops.

Feel free to comment here, or email me: kevin@lawver.net.

[2016-09-21 21:03] twinn commented on #99
@kplawver do you mind if we put Savannah as the sponsoring group in BridgeTroll?

[2016-09-21 21:05] twinn commented on #99
@kplawver actually nevermind I see how to create an issue to get our own chapter.

[2016-09-22 01:39] aneyzberg commented on #99
@twinn San Francisco can also be a mentor. and the RailsBridge board can help. Let me know if you would like to find a time to schedule a hangout and we can go over some general new chapter things

[2016-11-06 19:53] tigarcia opened #100 "RailsBridge Pairing Night, SF"
I'd like to create a weekday, after work event for people to continue to build on what they've learned from previous rails bridge events.  I thought volunteers could pair with students 1 on 1, but I'm open to suggestions for other formats as well.

I volunteered at the testing event yesterday organized by Akansh and Sanderfer.  There were a lot of advanced students that attended that could definit

[2016-11-06 19:55] siruguri commented on #100
Very happy to participate ... esp week nights, and of course to continue contributing to the code base.

[2016-11-07 06:08] #94 closed, assigned to nobody

[2016-11-07 18:49] tigarcia commented on #100
Thanks @siruguri.  Do you know the process for getting the event on the bridge troll site?

[2016-11-08 06:48] siruguri commented on #100
Roughly:
1. Create an event on Bridge Troll
2. Ref that event in this issue
3. Publish - it will send the chapter leads a notification
4. If you have never organized before, they will want to check in with you,
   esp if this is a brand new format.

If you haven't heard from them in like a few days or so, ping one of them -
in SF, Github user aneyzberg is one such lead.

HTH!

On Mon, Nov 7, 2016

[2016-11-11 06:00] akanshmurthy commented on #94
Event was a lot of fun! People enjoyed fixing the broken tests and learning about RSpec as well as APIs related to Twilio, Bitly, and Cloudinary. TAs did a great job of stepping up and helping. And, despite a few hiccups, App Academy did a great job of sponsoring!

[2016-11-11 06:07] akanshmurthy opened #101 "An algorithms/interview skills workshop in San Francisco"
Following with the experimentation (after the recent test-driven workshop) of different events, another idea that came up was a workshop focused on algorithms and behavior questions that could help RailsBridge folks who are job searching. This would be less formalized than the typical workshops but could still be structured:

- intro before the start of the day: explain how technical interviews ar

[2016-11-12 21:15] tigarcia commented on #101
I think it's a great idea.  It would be a good idea to have different levels of problems.  I'm happy to help with curriculum creation.  I have interviewed quite a few candidates in past jobs.

[2016-11-13 20:17] akanshmurthy commented on #101
Thanks! If we want to do this in December, could we use your space? We might try to see how it goes and create official curricula after the event.

[2016-11-17 06:40] schaui6 commented on #101
@akanshmurthy I'm talking to Dan from Outco and he has expressed interesting in sponsoring, I'm just waiting on a confirmation.

[2016-11-30 17:55] tigarcia commented on #100
For all those interested, here in the event on bridge troll:

https://www.bridgetroll.org/events/330

[2017-02-09 03:08] hfenton opened #102 "Akron JSBridge, the Akron edition of Cleveland RailsBridge, March 3-4, 2017"
This workshop's going to be amazing!! Here's what we need to do!

A few months out:
- [x] Decide on a date!! (March 3-4)
- [x]  Find a venue (see http://railsbridge.org/help/host) (The Software Guild)
- [x]  Find sponsors for the workshop. This workshop covers Javascript. Sponsoring the workshop costs between $800 - $1,000, depending on the size of the workshop. (Currently CMM, others welcome)
- [

[2017-02-09 03:09] hfenton commented on #91
The event was a success!

[2017-02-09 03:09] #91 closed, assigned to nobody

[2017-02-25 19:00] JasonEb opened #103 "SF Ruby on Rails Workshop for Women February 24 - 25, 2017"
Thread for https://www.bridgetroll.org/events/341

A few months out:
- [X] Pick a curriculum (Rails, Front End, JavaScript, Ruby)
- [X] Find a venue and sponsor for the workshop.
- [x] Find two co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the [workshop cookbook](https://github.com/railsbridge/docs/wiki/Cookbook) if it's new to you. (Also, we matc

[2017-03-24 22:00] sarcas commented on #97
We ran the event, and it went really well! A bunch of notes for next time, but what a great start.

[2017-03-24 22:00] #97 closed, assigned to nobody

[2017-05-15 20:30] careful-with-that-axe-zz opened #104 "SF Ruby on Rails Workshop @ Carbon Five June 23 - 24, 2017"
Thread for the yet to published on BridgeTroll SF RailsBridge June Workshop.

A few months out:
- [X] Pick a curriculum (Rails)
- [X] Find a venue and sponsor for the workshop. (Thanks Carbon Five!)
- [X] Find two co-organizers. (Jane Sebastian and Gabe Berke-Williams)
- [X] Read through the [Fundraising and Accounting Docs](https://github.com/railsbridge/docs/wiki/Money-Things)

Once we have a a

[2017-05-16 22:23] cavewoman opened #105 "Chattanooga Ruby on Rails Workshop July 28 - 29, 2017"
### A few months out:
- [x] Pick Location
- [x] Pick Date (July 28 & 29)
- [ ] Pick a curriculum
- [x] Find a venue and sponsor for the workshop.

### Once we have a a venue, sponsors, and organizers, we can:

- [x] Work together to set an RSVP limit that works for everyone
- [x] Post the workshop to Bridge Troll
- [ ] Make posters to hang up in prominent places at local colleges/universities
- [

[2017-06-27 04:15] #101 closed, assigned to nobody

[2017-06-27 04:19] akanshmurthy commented on #101
Hey, @tigarcia and @schaui6 , the need for an algorithms curriculum came up again recently (it was explicitly suggested by a student). If y'all are interested, we can form a group and do this!

[2018-03-07 03:31] #102 closed, assigned to nobody

[2018-03-28 05:03] heisenburger opened #106 "🐝 RailsBridge Wellington, New Zealand. 11th – 12th August 2018"
The Rails Girls crew in Wellington NZ are planning to switch to RailsBridge this year!

The organising crew: @libbyschuknight @lena-pl @missbassethorn @heisenburger

[2018-03-28 05:12] missbassethorn commented on #106
Woo!

[2018-04-15 19:21] jroes opened #107 "RailsBridge Charlotte - targeting 6/16-6/17"
Hi folks,

We're in the early stages of planning a RailsBridge workshop in Charlotte, NC on 6/16-6/17. Still looking at potential venues to confirm dates.

We did a Rails Girls event in Charlotte a few years ago with about 20 participants. Aiming for 50 this time.

A few months out:
- [ ] Pick Location
- [ ] Pick Date
- [ ]  Pick a curriculum
- [ ]  Find a venue and sponsor for the workshop.

Once

[2018-06-05 18:16] hfenton opened #108 "ElixirBridge Cleveland @ CoverMyMeds - September 28-29, 2018"
This workshop's going to be amazing!! Here's what we need to do!

A few months out:
- [x] Decide on a date!! (September 28/29)
- [x]  Find a venue  (CoverMyMeds)
- [x]  Find sponsors for the workshop. This workshop covers Javascript. Sponsoring the workshop costs between $800 - $1,000, depending on the size of the workshop. (Currently CMM, others welcome)
- [x]  Find two co-organizers. It's a lot

[2019-03-01 16:09] aelydens opened #109 "RailsBridge in Austin, TX. May 10-11, 2019."
#### To Dos:
🌵 🌵 🌵 🌵 🌵

A few months out:
* [x]  Decide on a date
* [x]  Confirm Venue (see http://railsbridge.org/help/host)
* [x]  Find co-organizers. It's a lot of work, but always a lot of fun. No experience is necessary; checkout the workshop cookbook if it's new to you.
* [x]  Work out budget for the workshop
* [x]  Find sponsors for the workshop, based on budget
* [x] Read through the [Fund

[2019-07-22 17:45] hfenton commented on #108
Closing due to event took place successfully

[2019-07-22 17:45] #108 closed, assigned to nobody